[2018-06-13 18:36] peterdesmet opened #1 "Set up basic website using Jekyll"
Similar to http://cameratraps.inbo.be

[2018-06-16 12:58] stijnvanhoey commented on #1
some theme options to try out:
* https://github.com/DevTips/Artists-Theme
* https://mmistakes.github.io/so-simple-theme/
* http://t413.com/SinglePaged/

[2018-09-19 13:53] peterdesmet commented on #1
Please move all website content to /docs

[2018-09-19 14:24] bartaelterman opened #2 "Figure out the synchronization with iNaturalist"
We'll push our observations to iNaturalist to make our data accessible. And we want use the iNaturalist community to be aware of new observations or improved identifications.

## Obs created in vespawatch: nest or individual

- [x] Preliminary task: delete at iNat if recently deleted in our DB
- [x] Detected by: filter our local database on`originates_in_vespawatch=TRUE`
- [x] Editable in admin: y

[2018-09-24 07:37] niconoe commented on #1
I did the move but then get Jekyll failure error messages... Since I don't have access to the repository settings, is GitHub pages (auto)publishing in place? If so, maybe you need to change the settings so the site content is loaded from the `docs` subdirectory, as explained [here](https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/#publishing-your-github-pages-site-

[2018-09-24 07:57] peterdesmet commented on #1
@niconoe Thanks for the heads up! I have updated to build from `docs`.

I think it's quite an achievement to be able to break things on first commit. 😄

[2018-09-24 07:58] #1 closed

[2018-09-24 08:49] niconoe opened #3 "Dependencies"
Create this ticket to discuss dependencies we may be interested to add to our projects. As always, the goal is to balance short-term productivity/comfort with long term maintenance issues.

- [ ] [django-crispy-forms](https://django-crispy-forms.readthedocs.io/en/latest/): never worked with it yet, but seems a good fit for us because: forms are important for us, it seems like the almost standard D

[2018-09-24 11:04] peterdesmet commented on #3
django-crispy-forms: bootstrap4 + popular => looks promising, let's use it.

[2018-09-24 11:45] niconoe commented on #2
Good points. A few additional ones:

- Does iNaturalist have a sandbox environment where we can play without messing with real data?
- We can use [tags/annotations/projects/...](https://www.inaturalist.org/pages/annotations) (or a combination of all those) to push our data to iNaturalist. Attaching our own ID to a given observation may be useful for example.
- Since we need 2-ways sync, in some ca

[2018-09-24 11:46] niconoe commented on #2
I'll try to write a very basic sync command soon, to already retrieve data from iNat (filter based on the project, probably).

[2018-09-24 11:59] niconoe opened #4 "Data models"
Place to discuss data models issues and questions.

Important questions:
---------------------
- Should specimen and nest observations be two different models (with a common parent class, probably) or not?

Currently planned models and major fields:
-------------------------------------------

- Species:
    - Name
    - List of illustrative pictures?

- Observation
    - Nest or specimen
    - Ne

[2018-09-24 13:31] peterdesmet commented on #4
Some quick answers (@stijnvanhoey @timadriaens ping in if you do not agree):

Not sure I understand, but pics linked to species (examplar pictures) rather than to an observation are out of scope.

If yes, let's consider those ObservationPictures for now.

Yes, but keep to 1-1 for now.

Yes, **always** linked to observation. Date might be different, but location is the same and stored at (nest) obs

[2018-09-24 13:39] niconoe opened #5 "Initial data mechanism"
Fixtures? Other? First thing to populate is the two species...

[2018-09-24 13:41] niconoe opened #6 "Basic sync command"
Already experiment with good fundamentals: logging, queuing, ...

First thing: get/update the data from iNaturalist's vespa-watch project.

[2018-09-24 15:48] bartaelterman opened #7 "Display data on a map"
- [x] color the items on the map by type (individual / validated individual / nest neutralized / nest not neutralized)
- [x] time range filter
- [x] tooltip (on click) should display date, type, location, picture, comment, link to iNaturalist observation, id, number of individuals

[2018-09-24 15:52] bartaelterman opened #8 "Authenticated user can create an observation"
- [x] Form for the authenticated user
- [x] Set location by address (probably using [Google's geocoding service](https://developers.google.com/maps/documentation/geocoding/intro))

[2018-09-24 15:54] bartaelterman opened #9 "Guest user can create an observation"
Same as authenticated user but:

- [ ] should be able to fill in contact details
- [ ] gets some guidance to select the correct species by displaying the first main species plus some commonly mistakenly reported species.

[2018-09-24 15:56] bartaelterman opened #10 "Create / Edit management actions"
Create a form for creating/editing management actions. Only authenticated users can do this

[2018-09-24 15:57] bartaelterman opened #11 "Create observation inline with management action"
Include the fields of an observation in the management action form and create the two objects together.

[2018-09-24 15:57] bartaelterman opened #12 "Admin interface"
Set up a django admin interface.

[2018-09-24 15:59] bartaelterman opened #13 "Define roles"
I would suggest:

- admin
    - can log in to the admin interface
    - can create new users
    - can create / edit / delete all data
- maintainers / power users (meant for the firefighters)
    - can create / edit / delete management actions and observations (we could also give them access to these objects in the admin interface and offer that as the only way to edit / delete data)
- anonymous u

[2018-09-24 16:01] bartaelterman opened #14 "Internationalization"
Our app should support internationalization. The first language to support is dutch, but we should be able to roll out french and english versions too.

This will likely come with some kind of interface where administrators can translate keys.

[2018-09-24 16:02] bartaelterman opened #15 "Synchronize data with iNaturalist"
See the discussion in [issue 2](https://github.com/inbo/vespa-watch/issues/2).
Then make it happen.

- [x] Create an app account on iNaturalist
- [ ] publish new data on iNaturalist
- [ ] get unknown observations from iNaturalist
- [ ] get updates from known observations from iNaturalist
- [ ] push updates of known observations to iNaturalist

[2018-09-24 16:05] bartaelterman commented on #2
I wonder whether it would make sense to keep iNaturalist fields separate from our own fields. That way, syncing becomes easy: you only overwrite those fields. When displaying data (for instance on the map) you check whether you have a species name from iNaturalist and if not, the app uses the internal field.
For internal updates, we can keep a field "updated-since-last-sync" and only push observat

[2018-09-24 16:06] bartaelterman opened #16 "Export data"
Updated by @peterdesmet:

Allow logged in admins to download relevant data via a button in the admin interface. Requirements:

## General

- Data as csv
- No filtering
- Include all fields (for now)
- Sort by id

## Individuals

- Add button to nests individuals page

## Nests

- Include columns from management data (one-to-one, so same number of records)
- Add button to nests admin page

[2018-09-24 16:07] bartaelterman opened #17 "Infrastructure"
- [ ] CI/CD (Check with @stijnvanhoey )
- [ ] test server / production server
- [x] automated backups
- [x] use an s3 bucket as static server. At least for images, but it might make more sense to also put other static stuff in the same bucket.

[2018-09-24 16:09] bartaelterman opened #18 "Allocate a new management action to an existing observation by location"
Something like: "hey did you just visit _this_ observation?"

[2018-09-24 16:09] bartaelterman opened #19 "Filter map on firestation zone + zoom"

[2018-09-24 16:09] bartaelterman opened #20 "show pictures of latest observations"

[2018-09-27 13:10] niconoe commented on #8
Is this the "firefighter-oriented" form?

[2018-09-27 13:11] niconoe commented on #9
I suppose this is the "casual observation" form?

[2018-09-27 13:20] niconoe commented on #10
Just to clarify: this is about creating / editing the occurrence of a management action(for example add a comment about a given nest destruction ), not the management action type itself (for example add a new kind of management action in the admin interface - I guess this will be rather static)?

If so I think the first form we'll need is a single one for firefighters to create both an occurrence

[2018-09-27 13:28] niconoe commented on #14
Will use standard Django features for that.

Ok for everyone if the strings in the HTML templates are in English (then translated to dutch via po/mo files before being shown to the user) so the code base stays english (same things for the variable name, for example) while the UI is (at first) forced to Dutch for visitors?

[2018-09-27 13:29] niconoe commented on #2
That's an interesting approach, I'll keep it in mind while concretely exploring all this!

[2018-09-27 13:32] niconoe commented on #16
Indeed! @peterdesmet , @timadriaens , @stijnvanhoey : don't hesitate to already start think about the exports:

- Who are they for? one or several group of people?
- For which usage?
- Is CSV format okay at first, or do you need fancier things?
- Main fields to include in CSV? Should this be (per export) configurable?
- ...

[2018-09-27 13:36] niconoe commented on #17
We'll probably need to make use of [django-storages](https://django-storages.readthedocs.io/en/latest/index.html) to use S3 for static/media files. (I'll have a quick look for alternatives, but I think it's the standard/well supported solution).

[2018-09-27 14:40] bartaelterman commented on #10
Indeed, it's for the firefighters to record the fact that a management action has been performed.

I created three separate tickets:
- #8 authenticated user can create an observation
- This one
- #11 create the observation inline (or together in one form) with the management action
- #9 guest user can create an observation (probably milestone 2)

I thought it would be easy to simply start with jus

[2018-09-27 14:41] bartaelterman commented on #9
I would say the "casual user observation" form :-)

[2018-09-27 14:41] bartaelterman commented on #8
yes. See also my comment on #10

[2018-10-01 08:31] bartaelterman commented on #17
To be discussed I would say. If we go for an RDS, you can just enable backups. If we go for a database on the VM, we need a bucket to dump the backups.

[2018-10-01 09:29] stijnvanhoey commented on #9
From Karel (ugent), I received the following blueprint for casual user observations from his point of view:

[code]
@timadriaens could you have a check of this as well? Than we can further discuss this. I'll add Karel to the project so he can track this as well.

[2018-10-01 14:41] stijnvanhoey commented on #9
I'm adding @KarelSchoonvaere to this discussion

[2018-10-03 13:52] niconoe commented on #2
FYI: Just made a (very naive/incomplete) first iteration of a Django command that retrieves observations from the iNaturalist project and store them in the Django database. Learned a lot of things and took some notes about the API, already.

[2018-10-03 13:59] niconoe commented on #5
In the current prototype of iNaturalist import command, I create species on-the-fly according to the retrieved observations. Might be an option too, but not without drawbacks (in its current form it populates with the most detailed taxon, which is sometimes a genus or a subspecies).

[2018-10-03 14:01] niconoe commented on #6
Basic/naive command done to experiment retrieving data from iNaturalist. Needs much improvements once things clarifies + logging, queuing, ...

[2018-10-04 11:20] niconoe opened #21 "Creates an iNaturalist client Python package?"
As I started to work with the iNaturalist API for our application, I noticed:

- I couldn't find an existing Python package to access the iNaturalist API (so we have to "manually" access the API with HTTP requests)
- The code we'll implement (example: a `get_all_occurrences()` function that allows doing `get_all_occurrences(project_id=2268, species="Vespa Velutina")`) for this is not project-speci

[2018-10-04 21:09] stijnvanhoey commented on #21
I do like the idea. If we consider it for the moment as a very minimalistic package (considering the timing we're working with, this probably should not be too much overhead.

[2018-10-04 21:29] peterdesmet commented on #21
I do like that idea too. Should start as a repo under the INBO org. Suggestions for the name?

[2018-10-05 09:06] niconoe commented on #21
Cool!

About the names, I just read [this guide](https://legacy.python.org/dev/peps/pep-0423/). In particular I'd like to have a single name that works for python package, PyPI entry, repository, ... so things are clear. I also would like the name to be immediately clear to both the iNaturalist and Python community.

So I was thinking of `pyinaturalist` (or `pyinat` maybe), following the `pygbif`

[2018-10-05 10:39] peterdesmet commented on #21
The R package is called [`rinat`](https://github.com/ropensci/rinat), but I don't see `inat` being used a lot as an abbreviation. iNaturalist uses the full name in almost all [their repositories](https://github.com/inaturalist), so I'm inclined to say `pyinaturalist` (`pynaturalist` sound easier, but is harder to search 😄)

[2018-10-09 10:53] niconoe commented on #21
everybody agrees wirh `pyinaturalist`? Should we create the repo? I'll be ready soon to push a VERY incomplete first alpha version.

[2018-10-09 11:46] niconoe opened #22 "Choose a geocoding service"
Since we'll need to convert addresses to lat/lon pairs. We won't issue a lot of queries, but we'd like to have good quality data over Belgium.

Previously, Google would have been perfect for that but it seems they have no free plan anymore (start price: 5$ / 1000 queries).

Will investigate other options.

[2018-10-09 11:53] niconoe commented on #22
Just found https://github.com/smeijer/leaflet-geosearch that seems to make the work easy and works with multiple (free and paying) providers. Will probably have a try!

[2018-10-09 13:47] niconoe commented on #22
Currently have a prototype running with leaflet-geosearch that uses OpenStreetMap Nominatim (but can be easily switched to something else, if needed).

[2018-10-09 13:47] #22 closed

[2018-10-09 19:54] bartaelterman commented on #9
I've added the missing fields providing information about the observer to the model.
I've created 2 different forms: one for public users (including the observer fields) and one for authenticated users (without those fields).
The latter should be extended later to included the inline creation of management actions (see #11 )

@niconoe could you review my form code?

[2018-10-10 08:53] peterdesmet commented on #21
Created and granted access at https://github.com/inbo/pyinaturalist

[2018-10-10 08:53] #21 closed

[2018-10-10 12:43] peterdesmet opened #23 "Controlled vocab for species"
Taxa that can be added via website:

scientific name | vernacular name | `inaturalist_push_taxon_id` | `inaturalist_pull_taxon_ids` | translation
--- | --- | --- | --- | ---
Vespa velutina | Asian hornet | https://www.inaturalist.org/taxa/119019 | | Aziatische hoornaar
Vespa crabro | European Hornet | https://www.inaturalist.org/taxa/54327 | | Europese hoornaar
Vespula germanica |  German Yellowja

[2018-10-10 14:34] niconoe opened #24 "create welcome page fragment from migration"

[2018-10-10 14:44] stijnvanhoey opened #25 "Use python 3.6 to have elastic beanstalk support"
As Python 3.6 is the most recent version of python supported by Elastic beanstalk, could we opt for 3.6 instead of 3.7? @peterdesmet @bartaelterman @niconoe  3x yes?

[2018-10-10 15:14] bartaelterman commented on #25
Ok for me

[2018-10-11 09:02] peterdesmet opened #26 "Slider does not work for single observation"

[2018-10-11 09:03] peterdesmet opened #27 "Latitude/longitude are swapped on map"
Longitude = x
Latitude = y

[2018-10-11 09:08] stijnvanhoey commented on #25
adapted ;-)

[2018-10-11 09:08] #25 closed

[2018-10-11 09:10] stijnvanhoey opened #28 "Provide user accounts for each firefighters zone"
An overview of the different zones is provided [here](http://www.brandweervlaanderen.be/Home/Zones.aspx). Each zone will have a user account and able to manage its own observations/management actions

[2018-10-11 09:14] #27 closed

[2018-10-11 09:16] bartaelterman commented on #6
Closing. See #15

[2018-10-11 09:16] #6 closed

[2018-10-11 09:20] #5 closed

[2018-10-11 09:22] bartaelterman opened #29 "Species selector guidance"
Display some images from the different species in the observation form. Add some text to make assist the user in selecting the right species.

[2018-10-11 11:52] #8 closed

[2018-10-11 11:52] #10 closed

[2018-10-11 12:13] bartaelterman opened #30 "Add terms of service and agree checkbox to the form"
Define what exactly should or should not be done when the data sharing fields of an observation are `False`:  @KarelSchoonvaere can you confirm my intuition?

- [ ] `observer_approve_data_process`: we should basically ignore this observation
- [ ] `observer_approve_display`: do not show the image on the map (if we at some point display observations in a table, or if we allow users to search observ

[2018-10-11 13:11] niconoe commented on #23
Currently implementing this in the Django Species model. We'll have a `inaturalist_push_taxon_id` field used when pushing our own observations to iNaturalist, and `inaturalist_pull_taxon_ids` (an array) so we can reconcile several taxons from iNaturalist (for example a subspecies of Vespa Velutina) to a single species on our side.

Also:
- We use django-modeltranslation to have vernacular names in

[2018-10-11 14:05] niconoe opened #31 "iNaturalist pull operations: how to distinguish Nests from Specimens"
(This is for existing Vespa observations @iNaturalist, since the vespa-watch observations are never pulled)

I guess 99% of those will be Specimen observation so for the moment I sets the type to "Specimen" for all of them. Should we continue like that or improve this process?

One possible improvement would be:
- We (manually) take the habit to assign a specific observation field @iNaturalist to

[2018-10-11 16:43] peterdesmet commented on #31
They are for the scientific name, see #2

- I would call them "individual", rather than "specimen"
- You can assume "individual" for all observations pulled
- In a later stage, "nest" vs "individual" will be assigned depending on an observation field in inaturalist, with "individual" still as default

[2018-10-11 16:47] peterdesmet commented on #23
Update table to reflect choices.

[2018-10-11 16:53] peterdesmet commented on #30
This choices will only make it more complex. I would prefer to put a disclaimer on the submission form stating that input data (except for personal information) will be released as open data. Could be part of the terms of service, with optional checkbox:

[2018-10-11 17:21] peterdesmet commented on #16
Observations can already be [exported from iNaturalist](https://www.inaturalist.org/observations/export?projects=vespa-watch). I know you need to be logged in for that, @niconoe can you test if that link is available for a non-project owner?

Still, Vespa-watch contains more information than what is pushed to iNaturalist, including user data (who did what) and management actions: that information

[2018-10-11 17:29] peterdesmet opened #32 "Create template for map popup"
That would allow to keep that html neatly with the other templates and use `{% trans ... %}` to translate labels. The template could be loaded as an include in `index.html`, but be hidden by default. The container of that template, e.g. `div class="popup"`, could be moved to the right place (in the popup) with jQuery.

[2018-10-11 19:17] bartaelterman commented on #15
@peterdesmet I've send you an email

[2018-10-11 19:35] bartaelterman commented on #32
For translations with JavaScript, there are some solutions provided by django. (See [the docs](https://docs.djangoproject.com/en/2.1/topics/i18n/translation/#internationalization-in-javascript-code))

The question was raised whether those tags will also be recognised by the `django-admin makemessages` command. Based on [this part of the documentation](https://docs.djangoproject.com/en/2.1/topics/i

[2018-10-15 09:54] stijnvanhoey commented on #17
Development is running as elastic beanstalk environment, http://vespawatch-dev.eu-west-1.elasticbeanstalk.com/.

[2018-10-15 12:47] niconoe opened #33 "Pulling iNat observations at the 'genus' rank"
A few observations at iNaturalist are retrieved because they match the project criteria, they however are only identified at the genus (Vespa) level.

I currently skip them during the "pull" synchronisation. @peterdesmet, do you agree with this course of action?

[2018-10-15 13:31] timadriaens commented on #33
There probably respresent people recording a wasp without them knowing the species name. So they count on the community for IDing. Potentially, these also contain velutina records. However, I'd keep the IDing for iNat and indeed would skip them.

[2018-10-15 13:38] timadriaens commented on #31
indeed, would be good to add "nest" to the survey annotation requirement in iNaturalist, as would the plant species on which individuals are observed (associated taxon?) but this can be done at a later stage (I don't directly see how I should do this in the edit mode on the survey actually).

[2018-10-15 13:40] timadriaens commented on #23
please use 'Asian hornet' for Vespa velutina instead of 'Asian Predatory Wasp' it is more commonly used

[2018-10-16 07:15] peterdesmet commented on #23
Updated in issue body and homepage 999c550

[2018-10-16 09:05] niconoe commented on #33
Good. The import process skips them, but log the issue (so if we actually read the logs, we can help with community IDs on this specimen for the next time - but we need anyway that the process is resilient to those cases!)

[2018-10-22 10:00] #33 closed

[2018-10-22 10:13] niconoe commented on #31
Thanks all!

A new observation field (is_nest) has been created at iNat so we can flag some observation in it:https://www.inaturalist.org/observation_fields/971.

We take care of this observation field when pulling observations.

Example: https://www.inaturalist.org/taxa/119019-Vespa-velutina

[2018-10-22 10:15] niconoe commented on #31
I noticed some observations by Karel already have a "nest" tag. I prefer that we use the observation field for this, since tags have restrictions (cannot be put on observation from other people, for example)

[2018-10-22 10:18] niconoe commented on #31
Note: we also have observations that are mainly for a nest, but where an individual captured is also shown (several pics). What to do with those?

[2018-10-22 11:49] niconoe commented on #31
Okay, we now use the is_nest observation field for this

[2018-10-22 16:58] KarelSchoonvaere commented on #31
Hi,
That's right, I was using tags to specify the category of observations. There are 3 categories in my custom database: Nest, Hive and Individual. The Hive tag is given to observations from beekeepers that report an attack on their honey bee hive. The Individual tag is a generic tag for all loose observations in the field. Could we extend this categorization in iNaturalist? For us it would be a

[2018-10-23 06:15] peterdesmet commented on #31
@KarelSchoonvaere: let’s create a separate issue for discussing uploading your observations to iNat.

@niconoe: rather than a binary field, is_nest, I would go for a controlled text field. Not sure about the name though. “evidence” or “vespawatch_evidence” or other? A Darwin Core field doesn’t come to mind, except occurrenceRemarks.

[2018-10-23 06:23] peterdesmet opened #34 "One time batch upload of observations"
@KarelSchoonvaere, let’s discuss here the upload of previously gathered observations to vespawatch: https://github.com/inbo/vespa-watch/issues/31#issuecomment-431896853. [Excel file](https://github.com/inbo/vespa-watch/files/2502287/inaturalist_uploads20181020.xlsx)

Some points to discuss:

1. Upload via vespawatch or iNat. Latter has a system to do so, but we would lose private fields such as ob

[2018-10-23 11:56] KarelSchoonvaere commented on #34
Most observations have photos.

Consecutive observations are made by the same person on the same location. Here an example:
Beekeeper observes AH at his hive on 8/10/18: https://waarnemingen.be/waarneming/view/163329207
The next day he notices the hornet again: https://waarnemingen.be/waarneming/view/163363682

My custom database only takes the unique, first observation from the beekeeper and negl

[2018-10-23 21:59] peterdesmet commented on #34
Thanks!

1. I notice there is no private info in the spreadsheet, so we can upload via iNat. @niconoe @bartaelterman is there an issue in creating observations directly on iNat using the VespaWatch iNat account? In other words: do you use the VespaWatch user to identify obs created through the VespaWatch website, because that assumption will be false.

2. How can we retrieve them? I noticed you ar

[2018-10-24 06:11] Erytran commented on #34
1. you mean from the original observer? I can add this information quickly if you need it. My pictures still have to be added to the observations. That's why I intended to be the observer and upload through my iNats portal.
2. I assume we have permission, yes
3. Yes, nests are separate records each time

[2018-10-24 06:13] KarelSchoonvaere commented on #34
That's me...

[2018-10-24 06:49] peterdesmet commented on #34
@karelschoonvaere, are _your observations_ included in the spreadsheet? If so, I suggest you upload those on inat under your account first and remove them from the Excel. The rest we will upload via the vespawatch account.

If you can collect the photos for the others that would be great! For consistent naming, I suggest to give each observation an id, and name the images e.g. “23_2.jpg”: second p

[2018-10-24 06:52] KarelSchoonvaere commented on #34
Ok will look into this! Thanks for support.
What about future observations? More and more are coming in every week...

[2018-10-24 07:04] peterdesmet commented on #34
Realistically speaking, application will be launched this winter. That should allow firestations and casual obs to report through website. For those collected on wn.be, we’ll have to see.

[2018-10-29 11:05] niconoe commented on #31
@peterdesmet : allright, I suggest vespawatch_evidence so our stuff is namespaced! The accepted values would be nest/hive attack/individual?

In that case, should we also add "hive attacks" as a category on our side (since we already have nest/individuals)?

[2018-10-29 11:30] niconoe commented on #34
What's the decision about this upload, finally? If possible for the sake of simplicity, let's try to keep those observations as normal as possible...

- In terms of synchronisation (see #2): does those observations behave like the ones originating from Vespa-Watch? In that case, I'd prefer that we add them to Vespa-Watch (but creating a CSV import tool is possible and maybe not too time-consuming)

[2018-10-29 12:11] niconoe opened #35 "Error when editing an observation"
To reproduce:

- Create an observation using the form.
- On the map, click on the observation and select "edit"
- Change fields (I tested with the species)
- Click save

=>
![image](https://user-images.githubusercontent.com/386387/47648995-133d1d00-db7c-11e8-9ecc-8053eca5b58e.png)

(data seems to be saved anyway)

[2018-10-29 13:04] niconoe opened #36 "iNaturalist sync: manage pictures"
For the sake of simplicity, so far the synchronisation process does not take care of pictures, this should be done:

- [x] Retrieve pictures for iNat observations
- [x] Push pictures for our observations

[2018-10-29 13:31] bartaelterman commented on #35
@niconoe I've been refactoring some stuff in those forms (to make the location picker also a Vue component). I've pushed that now. Can you test it again pls?

[2018-10-29 13:47] niconoe opened #37 "iNaturalist sync: push more fields"
For creation, but also updates... so far, the following fields are pushed: species, observation time, description, latitude, longitude, vespawatch_id (observation field).

[2018-10-29 13:51] niconoe opened #38 "Recording an observation: no success message"
After adding an observation, the users gets redirected to the map/home page. It would be great to show some "success message" so they're not confused and don't have to look on the map to find "their" observation.

[2018-10-29 13:52] niconoe opened #39 "Recording an observation: prevent future dates"
I was able to record an observation for tomorrow, this should be impossible (preferably at the Django model level).

[2018-10-29 13:54] niconoe commented on #35
Indeed, I'm not able to reproduce anymore! thx!

[2018-10-29 13:54] #35 closed

[2018-10-30 10:14] peterdesmet commented on #38
Agreed. Could either be message on top of homepage or separate page, offering options on what to do next.

[2018-10-30 10:19] peterdesmet commented on #31
Ok! And ok for accepted values: will see if that works out as we want.

[2018-10-30 10:47] niconoe commented on #34
Fine for me, @KarelSchoonvaere can upload on iNat, using the Vespa-Watch account. Two remarks:

- I'll need to tweak the code that make the distinction between the obs from our app and the obs from iNaturatist. But that's not an issue, I already push a `vespawatch_id` observation field value to the observations from our app, so I can retrieve it later.
- More importantly, I wanted some reassurance

[2018-11-06 08:16] #26 closed

[2018-11-06 08:30] bartaelterman commented on #30
- Define a Terms of Service
- Add a checkbox to the form for non-registered users
- I would assume that form submission will not be possible if you don't agree to the terms of service? @peterdesmet

[2018-11-06 08:37] bartaelterman commented on #23
@niconoe Looks like there is a migration file for this so I think most of it is done. Could you just replace "Asian Predatory Wasp" by "Asian hornet" as requested by Tim?

[2018-11-06 08:38] bartaelterman commented on #2
@niconoe closing this issue. Most of the remaining stuff is covered in other issues.

[2018-11-06 09:39] peterdesmet commented on #31
@KarelSchoonvaere, revisiting this issue. We would keep the type of observations to `nest` and `individual`. "attack on hive"  can be reported for both individuals and nests in the `behaviour` field, which is more fitting for this information.

[2018-11-06 09:39] peterdesmet commented on #30
On point 3: yes, not checking does not allow submission.

[2018-11-06 09:54] bartaelterman opened #40 "Layout of management page"
When a user clicks on "Pest control" in the navbar, he should be redirected to a page that is only accessible for logged in users.
That page contains:

- [x] A table with your observations
- [x] A map with your observations
- [x] A button to record an observation with management actions (see #11 )

 @peterdesmet feel free to add stuff or upload a sketch here.

[2018-11-06 10:09] #24 closed

[2018-11-06 10:14] bartaelterman opened #41 "Map improvements/polishing on obs form"
In the observation form, use one field only to search and locate the pointer. Use a separate field (the actual `location` field for the address that is fetched by reverse geocoding. The query field is not stored.
When the pointer is moved, do the reverse geocoding again to get the new address and put this in a separate field.
This field can be edited, but the pointer does not move. If the user wan

[2018-11-06 10:17] #23 closed

[2018-11-06 10:31] niconoe commented on #31
TODO:

- [ ] Remove the `is_nest` observation field @iNaturalist
- [ ] Create the `vespawatch_evidence` field to replace if (accepted values: nest | individual)
- [ ] Update the push/pull code so it uses the new field appropriately.

[2018-11-06 10:33] peterdesmet commented on #40
* At a larger stage the page could provide some options to filter the observations (in both map and table)
* Unmanaged observations have red background

[2018-11-06 10:36] niconoe commented on #31
vespawatch_evidence field ID is: 9770

[2018-11-06 10:45] peterdesmet opened #42 "Assign observation to existing management"
For a zone, incoming observations might already be treated via another (e.g. own recorded) observation + management action. In other words, there exists a many observations to one management action relation.

For each _observation-, the firefighter should have the option to record a (new) management action or assign an (existing) management action (two tabs). When selecting the latter:

1. User is

[2018-11-06 11:23] niconoe opened #43 "Custom User/profile model"
User has a zone, and the zone has a polygon? Something else?

[2018-11-06 11:44] peterdesmet commented on #42
After discussion with @KarelSchoonvaere we decided not to implement this as such. One nest observation will have one management action OR be indicated as a duplicate of another nest. Closing issue here.

[2018-11-06 11:44] #42 closed

[2018-11-06 11:51] bartaelterman opened #44 "Create observation subclasses"
Instead of using an observation type to distinguish between nests or individuals, it seems more appropriate to work with an abstract model `Observation` and two subclasses: `Nest` and `Individual`.
The reason for this is that it seems at this point that the two things (individuals and nests) have diverged far enough to justify two separate classes:

- an obervation of a nest can be flagged as a du

[2018-11-06 11:54] peterdesmet opened #45 "Allow nest observation to be marked as duplicate of other nest"
Zones should be able to mark a (incoming) nest observation as a duplicate of an existing nest observation. The relation between the two observations should be saved (in one direction), in other words just marking it as duplicate is insufficient.

1. Open observation
2. Management action (even for iNaturalist observations that cannot be edited): "Mark as duplicate"
3. User is presented with a map s

[2018-11-06 11:54] bartaelterman commented on #7
There is some code now to change the color of the circles based on the observation types. Colors can be changed as you like.
https://github.com/inbo/vespa-watch/commit/4b78832857628b817a736ea18058b3f447a7ba55

[2018-11-06 11:55] peterdesmet opened #46 "Get shapefile with polygons of zones"

[2018-11-06 11:57] peterdesmet opened #47 "Explore export possibilities/formats of e-loket"
Zones often use a e-loket/dispatching system to record and manage incoming calls (including of Vespa velutina nests). Rather than having to copy/paste the same information into the Vespa-Watch application, we should explore if that system has an export format (machine-readable) that can be uploaded to Vespa-Watch to create/populate an observation.

@KarelSchoonvaere will ask for this format, after

[2018-11-06 12:00] niconoe commented on #44
Technically, I think we'll have the choice between Abstract base classes (https://godjango.com/blog/django-abstract-base-class-model-inheritance/) and Multi-Table inheritance (https://godjango.com/blog/django-abstract-base-class-multi-table-inheritance/).

I don't know have an opinion yet, but it would be good to at least check the two links above so we make the most informed choice.

[2018-11-06 12:00] peterdesmet commented on #43
User is a zone. Polygons will be provided via #46

[2018-11-06 12:02] peterdesmet opened #48 "Automatically add zone to observation"
Observations without a `vespawatch_zone` should be assigned one automatically based on the coordinates (and the polygon of the zone they fall into).

Once an observation has a `vespawatch_zone` this is never overwritten automatically, but only directly by a user.

[2018-11-06 12:05] niconoe commented on #46
It would make sense to install GeoDjango so we can easily import/store/query/edit/... the polygons in Vespa-Watch. My only concern is on the infrastructure side, since it relies on having PostGIS, a few geospatial libraries, ...

@stijnvanhoey, could you have a look at GeoDjango's documentation and confirm all that would be fine on AWS? I can also install it in a branch so you can test there direc

[2018-11-06 13:03] peterdesmet commented on #43
ok!

[2018-11-06 13:10] stijnvanhoey opened #49 "make sure uploaded images have unique names"
Currently, files uploaded by the user are just stored with a file name as such, woth the risk of overwriting files. We should provide unique names on the django-side.

[2018-11-06 13:30] #7 closed

[2018-11-06 13:53] niconoe commented on #49
Should be good! @stijnvanhoey, can you test in real life?

[2018-11-06 14:29] niconoe commented on #43
Basics are implemented!

Next step is polygon, but we're blocked until we have the confirmation that we can use PostGIS/GeoDjango (for AWS deployment).

[2018-11-06 17:07] peterdesmet commented on #41
See already:

https://github.com/inbo/vespa-watch/blob/28c48c7517d65daadd31bf6ccaa0082f183dcc78/vespawatch/static/vespawatch/js/vespawatch.js#L373-L376

I've already added an empty input field `div_id_address`. It should probably be updated to `div_id_location`,  but that one is already in use for the find position field, which I would call `div_id_position`.

[2018-11-06 17:15] peterdesmet opened #50 "Behaviour of carriage return for finding position"
On the create observation form, there is a field (#41) to find a position on the map. Most users will probably **enter an address there and press carriage return on their keyboard to find the position**. That submits the form however. When the form is incomplete it will return with errors, which is merely annoying: it is not the behaviour the user expected, but they have a chance to correct at lea

[2018-11-06 22:30] bartaelterman commented on #40
@peterdesmet I've added a basic map and table to this page. Still on the `abstract-observation` branch tough (see #44 )

[2018-11-07 07:56] peterdesmet opened #51 "Translate labels defined in JS"
The JS contains text strings that are displayed to user:

https://github.com/inbo/vespa-watch/blob/28c48c7517d65daadd31bf6ccaa0082f183dcc78/vespawatch/static/vespawatch/js/vespawatch.js#L279

This strings should be translatable, but the current implentation using {% trans “Text” %} is not picked up by the Django template and thus displayed as is. We’ll need to find another solution... ideally one

[2018-11-07 07:59] bartaelterman commented on #51
I've fixed it here 9943cf8c110d8d413a6234f3e9dc3b04efacc929. That initializes the translation in JavaScript. Still on the abstract-observer branch though.

[2018-11-07 08:02] peterdesmet commented on #44
1. I assume the 999 is just a migration fix that will not hamper production databases where an actual management action with id 999 might exist.
2. Having an in between page for nest vs individual is fine.

Can you submit a PR?

[2018-11-07 08:06] bartaelterman commented on #44
Yes, the 999 is only applied to management actions that already exist when this migration is applied to a database. Will not have an impact after that.

[2018-11-07 08:06] peterdesmet opened #52 "User has no profile"
Since I pulled and migrated I get an error logging in:

[code]

I think it is related to https://github.com/inbo/vespa-watch/issues/43, where my user account has profile?

[2018-11-07 08:09] bartaelterman commented on #52
Log in to your admin screen, edit your user and set a zone for your user.
This shall be done automatically when we create user accounts for production. But the user in your database was created before the profile existed.

[2018-11-07 08:14] bartaelterman commented on #48
Depends on #46

[2018-11-07 08:47] peterdesmet commented on #52
Thanks for the reply

Cannot do this for my peter_desmet user as that generates the error I described.

[2018-11-07 08:55] niconoe opened #54 "Manually flatten migrations"
Due to large changes, the migration history is becoming a bit heavy/messy to my taste.

We could manually replace the whole migration folder with two migrations: one for the models in their current state, and one for the initial data (species, page fragments, ...).

Pros:

- Simpler, cleaner, more solid code (would probably also solve or completely avoid other issues such as #52 )

Cons:

- Needs

[2018-11-07 08:58] bartaelterman commented on #52
As Nico pointed out, there is probably indeed a bug that needs to be fixed and setting a Zone for every user should not be needed.
However, if you can't log in I assume you're currently blocked by this. So here's another idea: create it via the shell.
[code]

Create a `FirefightersZone` object:
[code]

Find your user
[code]

Create a profile for your user
[code]

As mentioned. It's a temp fix to u

[2018-11-07 09:00] #11 closed

[2018-11-07 09:00] #44 closed

[2018-11-07 09:02] niconoe commented on #52
Thanks @bartaelterman,

I think a simple:

    User.objects.filter(username='peterdesmet').first().save()

might be enough!

[2018-11-07 09:03] bartaelterman commented on #52
wicked!

[2018-11-07 09:05] bartaelterman commented on #54
I'm pro

[2018-11-07 09:13] peterdesmet commented on #52
Didn't really know how to combine your replies, but it worked with (mainly fixing some typos):

[code]

[2018-11-07 09:15] niconoe commented on #52
Great. Let's keep the issue opened so I remember to implement a proper fix.

[2018-11-07 09:17] peterdesmet commented on #54
If it doesn't make for a more complicated job, I would opt for 2: close to beta.

[2018-11-07 10:33] stijnvanhoey commented on #54
I agree, as we can easily redo the setup and have not yet anything in production, we do this close to beta version.

[2018-11-07 14:28] niconoe commented on #52
Will be solved later, as part of #54.

[2018-11-07 21:46] bartaelterman opened #55 "Coordinates are reset when form validation fails"
Try this:
Create a new observation, but make the form validation fail (don't set a datetime for instance)
When the form loads with the error messages, the location and coordinates are reset to the default values. Should prevent this from happening as all other form fields are correctly restored with the previously inserted data (as it should)

[2018-11-07 21:58] bartaelterman commented on #30
The checkbox is added to the forms (see b8edb6a). Should still add a link to the terms of service.

[2018-11-07 22:13] bartaelterman commented on #30
Done. You should add a page fragment to your db though (using the admin interface). The name of the page fragment is `terms_of_service` and this will be the content of the terms of service modal.

[2018-11-07 22:13] #30 closed

[2018-11-08 10:57] stijnvanhoey opened #56 "Observation class still loaded in the management scripts"
When testing the deployment based on the new repo structure, I received following error message:

[code]
@bartaelterman I do think this is due to the https://github.com/inbo/vespa-watch/pull/53 not updating the management script.

Should this just be fixed on the `import_inat_project_observations.py` script?

[2018-11-08 11:15] #56 closed

[2018-11-08 11:16] niconoe commented on #56
Sorry `import_inat_project_observations.py` is an outdated command that should have been deleted long ago.

Please use `sync_pull` as a replacement.

[2018-11-08 11:54] stijnvanhoey commented on #56
ok, I'll remove the original command from https://github.com/inbo/vespa-watch/blob/c3a9a129db6d926b7ec8e7bdb5f2d656a4d066f6/.ebextensions/02_python.config#L24

Should I still add an initial load from inaturalist as part of the build procedure and  replace the current command or should we not need it at all, as sync pull will work based on schedule?

[2018-11-08 11:57] niconoe commented on #56
Once in production, the pull (and push) process should run frequently (launched by cron for example).

They're not finished/mature enough now, but I think running sync_pull on deployment would be great so there's some initial data!

[2018-11-08 12:03] stijnvanhoey commented on #56
ok, I'll repoen the issue andassign myself in order to have a look on how to integrate such a push/pull action in the elastic beanstalk setup.

[2018-11-08 12:04] niconoe commented on #56
Perfect! FYI: In the current state of affairs push is probably broken, while pull is working (basics only).

[2018-11-08 12:37] stijnvanhoey commented on #49
Tested in DEV, photo file names get unique names.

Although, we're losing the original file-name reference (e.g. of new name is `2cddbfb0-641a-4377-9b15-067b21ae4928.jpg`). @niconoe is the link between original file-name and created hash file name somewhere in the database (just in case)? If, not I would make sure the link can be made by the name (key on S3) itself, combining hash and original nam

[2018-11-08 12:41] stijnvanhoey commented on #56
sync is operational during deployment/setup, still need to provide the scheduled job.

[2018-11-08 13:43] niconoe commented on #49
Nope, the new file name is just generated on the fly and the link is not stored. I will update so if also fit this ("keep the link") requirement.

[2018-11-12 08:34] niconoe commented on #52
Improved temporary fix:

    $ python manage.py shell

[2018-11-12 09:04] stijnvanhoey commented on #46
I would first check if we really need it. If I understand it well:
- import/store: load a feature (vector) data set; one or two of them, which one? available online as service?
- query: for our (observation/nest) coordinates, check WITHIN operator on these polygons. Any other operators required?
- edit: ??! *are we editing raw input feature files for/within application?*

if it is actually just *p

[2018-11-12 09:39] niconoe opened #58 "Time zone issues in string representation of observations"
An observation set (in the admin) at midnight+30 minutes appear as the previous day, in the string representation in the model.

[2018-11-12 09:41] niconoe commented on #58
Attempt to fix seems not totally successful. Need to investigate deeper.

[2018-11-12 10:10] niconoe commented on #46
You understand it well: it's (for the moment) just:

- polygons import (probably once)
- check point-in-polygon when adding an observation.

the big questions are indeed:

- do we have a WFS web service we can use for this?
- do we want to rely on it (this external service could easily break our "new observation" feature.)

I think we need the PostGIS database for GeoDjango. But a third way is ind

[2018-11-12 10:30] stijnvanhoey commented on #46
I agree on the WFS-service comment. The services for municipalities should be stable enough to build on top of it, but the firefighters zone will be an issue. So, we'll implement spatial support ourselve.

Options:
1. Cherry-picking GEOS pieces. Fine in the beginnning, but what with further development/maintenance?
2. Add postgis support, which seems available out of the box with postgres RDS  fro

[2018-11-12 10:37] niconoe commented on #46
Sounds great!

[2018-11-12 11:02] niconoe commented on #46
@stijnvanhoey : there's a new GeoDjango branch! I put a few comments in README about the setup. Everything's very simple on the Django side, hope the geospatial libraries won't be too painful on your side!

[2018-11-13 14:20] niconoe commented on #15
Closed since it's a duplicate/less precise version of #2.

[2018-11-13 14:20] #15 closed

[2018-11-13 16:26] stijnvanhoey commented on #46
Seems to work fine with minor changes to the deployment setup:

![image](https://user-images.githubusercontent.com/754862/48427520-2ef21700-e769-11e8-8a9b-f8b6cc49caea.png)

[2018-11-14 08:03] niconoe commented on #46
Yeah, brilliant!

do you think I can merge the branch into `master` so we all continue from there?

[2018-11-14 08:35] stijnvanhoey commented on #46
See PR #59, feel free to merge

[2018-11-14 09:32] niconoe commented on #46
Done, thanks. Let's keep the ticket open since we still need to obtain and import the zone polygons.

[2018-11-14 09:51] niconoe opened #60 "If one of our observation was already pushed to iNat, disable species change"
Since we rely on the community for that and never push that info again.

[2018-11-14 10:33] #60 closed

[2018-11-14 11:06] peterdesmet commented on #46
Here's the shapefile with the brandweerzones for 2019 (with the fusion of the cities): [Brandweerzones_2019.zip](https://github.com/inbo/vespa-watch/files/2580365/Brandweerzones_2019.zip)

The polygon is detailed (and thus big), so before uploading the postgres I would simplify it, e.g. with https://github.com/maxogden/simplify-geojson after it's converted to a geojson.

They also offered a shapef

[2018-11-14 13:54] niconoe opened #61 "Write import script that creates Firefighters zones from the provided shapefile"
Prerequisite for #48, follow up of #46.

Should we also integrate #28?

[2018-11-14 13:58] niconoe commented on #46
I added the shapefile (+ a simplified version) to /data. Closing this ticket since work continues in #61.

[2018-11-14 13:58] #46 closed

[2018-11-14 14:34] niconoe commented on #61
@stijnvanhoey : can you adapt the deployment script so:

$ python manage.py import_firefighters_zones PATH_TO_VESPAWATCH/data/Brandweerzones_2019_simplified/Brandweerzones_2019_simplified.shp

is run once, at initial deployment?

[2018-11-14 14:48] niconoe commented on #49
@stijnvanhoey, can you test on AWS?

[2018-11-14 14:55] niconoe commented on #28
For modularity reasons, I will write a separate script to automatically create an account for each zone.

[2018-11-14 15:18] niconoe commented on #28
`create_firefighters_accounts` command is now implemented. @stijnvanhoey, can you make sure it's run on initial deployment (after the other script referenced in #61).

The credentials are outputted on the console, so we'll need to capture it.

[2018-11-14 15:39] #43 closed

[2018-11-14 16:07] stijnvanhoey commented on #61
I would argue to use a geojson file instead of a json-file as input for the command. It is text and as such relevant under version control, it is a single file instead of combination of files. Moreover, it is rendered interactively in Github.

So, I would:
- consider the shapefile -> geojson conversion outside of the application.
- Use ogr2ogr command `ogr2ogr -f GeoJSON -t_srs [crs] [name].geojso

[2018-11-14 16:15] niconoe commented on #48
This is now implemented. It works like this: if an observation has no zone assigned it tries to set on each time the model is saved (so it works consistently from scripts, user-facing pages, admin...).

The only limitation I see with this approach is that you can't set the zone to NULL if an observation falls in it (you can of course set it to a different zone). In other terms, all observations wi

[2018-11-15 08:11] niconoe commented on #61
Thanks for the review @stijnvanhoey, that's adapted.

I choose to not simplify the features at this time because:

- even if the initial file is around 4Mb, that's a perfectly fine amount of data for PostGIS/GeoDjango. Premature optimization is the root of all evil ;)
- it's not that easy to exactly quantify the error we're adding while simplifying geometries, in part we configure the tolerance in

[2018-11-15 09:18] niconoe opened #62 "The "management" tab should be accessible only to firefighters"
It's currently also accessible from an admin, with possible errors du to the absence of "zone" for admins:

![capture d ecran 2018-11-15 a 10 17 08](https://user-images.githubusercontent.com/386387/48542572-cc5f5f00-e8bf-11e8-82ba-2147819283ea.png)

[2018-11-15 09:20] #52 closed

[2018-11-15 09:48] niconoe opened #63 "Investigate consequences of the Individual/Nest model split on the sync process"
- [ ] The vespawatch_id pushed at iNaturalist will refer to either a Nest or an Individual. We can therefore have duplicates. On retrieval (we don't do it for now, except to identify which observations come from Vespa-Watch - value is ignored), wek now which model to load thanks to `vespawatch_evidence`. Not sure yet if it's a real problem.

- [ ] Pull: What should we do if the `vespawatch_evidenc

[2018-11-15 10:49] bartaelterman commented on #40
pushed some updates:

- The map and table now only display observations/nests from the zone of the user (based on the foreign key)
- The map automatically pans/zooms to the observations that are displayed
- Nests that have no management action are indicated in red in the table
- Nests in the table are ordered by decreasing date time.

I suggest to move that alerting part to a later release.

@pete

[2018-11-15 10:49] niconoe opened #65 "Pictures upload/management breaks if filename contains multiple dots"

[2018-11-15 11:19] #65 closed

[2018-11-15 11:44] bartaelterman commented on #54
Worked here!

[2018-11-15 12:06] bartaelterman commented on #62
How do we define an admin? I thought we agreed that that is a user with staff-status (can log into the admin section), right?

In that case, how about:

- an admin can see the management page, but he can select a zone. Could be useful for giving support.
- a user who is not admin and has no zone cannot see this page.

[2018-11-15 12:51] bartaelterman commented on #58
@niconoe I cannot reproduce this. Maybe that's because I have dropped my database and recreated everything (also importing all observations again) now that the `USE_TZ` setting is set.

E.g. I've created an observation with time "2018-01-01 00:30:00". In the database, those dates are now stored with a timezone: `2018-01-01 00:30:00+01`. As expected, because at the first of Jan, we have winter time

[2018-11-15 12:51] #58 closed

[2018-11-15 13:19] #38 closed

[2018-11-15 13:22] bartaelterman opened #66 "Pimp the individual/nest details templates"
- [ ] Add some better styling

[2018-11-15 14:44] niconoe opened #67 "Obs not deleted at iNaturalist after deleting them in bulk from the admin"
But deleting them one by one one the details page works.

This is probably because (excerpt from Django's documentation):

[2018-11-15 15:00] #67 closed

[2018-11-15 15:02] niconoe opened #68 "User-friendly datetime selector in "report observation" form?"

[2018-11-15 22:23] #62 closed

[2018-11-15 22:23] bartaelterman commented on #62
by the way @niconoe . That's a lot of tabs!

[2018-11-16 11:48] peterdesmet opened #69 "QA batch upload to iNat"
Quality control of batch upload to iNat: #34

- [x] Set `vespawatch_evidence` for tag `nest`
- [x] Set `vespawatch_evidence` for tag `individual`
- [x] Upload photos
- [x] Set `5m` precision
- [x] Set > 5m precisions

[2018-11-16 13:57] peterdesmet commented on #69
Done: https://www.inaturalist.org/observations?place_id=any&subview=table&user_id=vespawatch&verifiable=any

[2018-11-16 13:57] #69 closed

[2018-11-16 14:02] peterdesmet opened #70 "vespawatch_evidence for "beehive""
@KarelSchoonvaere in your upload (#34) there are `nest`, `individual` and `beehive`. The first two have been mapped as such to `vespawatch_evidence`, but what should be done for `beehive` observations?

https://www.inaturalist.org/observations?place_id=any&q=beehive&subview=table&user_id=vespawatch&verifiable=any

Are these all `vespawatch_evidence`: `individual`?

How should the fact that these w

[2018-11-16 14:03] peterdesmet commented on #34
The 140 obs are now uploaded: https://www.inaturalist.org/observations?place_id=any&subview=table&user_id=vespawatch&verifiable=any

[2018-11-16 14:03] #34 closed

[2018-11-16 14:42] peterdesmet commented on #63
Question: the app doesn't allow an nest AND an individual with the same `vespawatch_id` right? If yes, `vespawatch_id` should be a property of the abstract obs.

[2018-11-16 14:45] peterdesmet commented on #48
Yes, so the only obs with a NULL zone will be those outside any zone. Question: is this zone set for all obs (independent from nest or individual)?

[2018-11-16 15:20] niconoe commented on #63
`vespawatch_id` doesn't exists in our database, it's only an observation field pushed at iNaturalist: in our database, there are now two tables `nest` and `individual` (they inherit from an Abstract model but the shared state only exists at code-level, not at the database one). So you can perfectly have a Nest and an Individual with the same primary key=2, since they live in different tables.

So

[2018-11-16 15:33] bartaelterman commented on #63
Should we maybe prefix the `vespawatch_id` that we push to iNaturalist to make it explicit?

[2018-11-16 15:57] peterdesmet opened #72 "'DatabaseOperations' object has no attribute 'geo_db_type'"
I am getting:

    'DatabaseOperations' object has no attribute 'geo_db_type'

When trying to do `python manage.py migrate`.

I have the PostGIS extension installed. Should I also have geodjango? If so, shouldn't that be included in the requirements?

[2018-11-16 16:14] peterdesmet commented on #72
Sorry, just noticed that I had to use new settings:

https://github.com/inbo/vespa-watch/blob/1e7f24d2b15e1d4cc65819cc27b39d7a2a9f710e/djangoproject/settings/settings_local.template.py#L5

[2018-11-16 16:14] #72 closed

[2018-11-16 16:50] peterdesmet commented on #63
@bartaelterman might be a good idea: `vespawatch_id = nest:43`

[2018-11-16 16:51] peterdesmet commented on #48
Yes.

[2018-11-16 16:55] peterdesmet opened #74 "Return to management page after recording observation"
Logged in users should return to the management page when successfully recording an observation.

Even better (since they can also record from the homepage), the form should bring them back to the page they started from.

[2018-11-16 17:05] peterdesmet opened #75 "Zone for observation from firefighter user"
The zone of an observation is recorded automatically based on the location, which is great:

* iNat obs have no zones, so it should be set automatically
* Casual users are not aware of zones, so it should be set automatically
* Admin users have no zone associated with their account, so easy to just do it automatically
* Fire brigade users ARE associated with a zone: not sure if the zone is set bas

[2018-11-16 17:05] peterdesmet commented on #62
Great

[2018-11-17 12:55] #36 closed

[2018-11-17 14:04] niconoe commented on #75
IGood question. Maybe some UI refinements may help, for example:

- show the boundary of the zone on the map in "Management" (I think this can be good a good idea in general, and probably not too hard to implement).
- warn (or block totally?) the firefighter when he/she tries to enter an observation outside of his/her zone.

[2018-11-17 14:05] #48 closed

[2018-11-17 14:09] niconoe commented on #63
Yeah, that seems cleaner and is easy to implement, so I'll do! The other edge case (some of our nest suddenly becomes an individual at iNaturalist, or vice-versa) will be documented in #2 (so we don't forget to handle it and this ticket is as complete as possible)

[2018-11-17 16:46] bartaelterman commented on #70
I think we would record those as individuals with behaviour 'at beehive'

[2018-11-17 17:00] KarelSchoonvaere commented on #70
In the vespawatch preparing template there is the option for people to tick whether they are beekeeper or not. That information is crucial because we expect many reports from beekeepers and will notify the beekeepers society in that region when reports come in.

Reports at beehive are in fact individuals, so there is no need for a separate category. Ideally would be to distinguish loose and beehiv

[2018-11-17 20:05] stijnvanhoey commented on #75
I would opt for the warning ("outside zone, won't be listed in your zone") with the possibility to change location or to accept.

[2018-11-17 21:11] stijnvanhoey commented on #28
Reopening for myself to make sure I add the proper instructions on deployment to capture the output!

[2018-11-17 21:11] stijnvanhoey commented on #61
Tried it in the deployment, but need further checke, opening for myself.

[2018-11-17 21:35] bartaelterman commented on #75
Instead of doing that at the save of the observation, we could also do this when the user fills in the location and the geocoding is done. Next to the latitude/longitude fields (that are filled in when you search a location or move the marker on the map), we could add a field "zone" that immediately displays the zone where the observation is located.

[2018-11-19 07:45] bartaelterman opened #76 "Style form validation failure messages"
when you submit a form with errors, the errors are displayed as a default Django errorlist:
[code]

Which looks like:

<img width="470" alt="screen shot 2018-11-19 at 08 44 25" src="https://user-images.githubusercontent.com/2742677/48692726-603e6d00-ebd7-11e8-8754-6b0303ab11d6.png">

I think that errorlist could use some styling.

[2018-11-19 08:53] #51 closed

[2018-11-19 09:04] bartaelterman commented on #2
@peterdesmet @stijnvanhoey could you reconfirm what we would do when we pull taxon information from iNaturalist:
- overwrite our own taxon information
- keep a separate inaturalist_taxon field and only update that. This keeps our own taxon in place.

I thought we agreed on option 2 but I can't recall what the added value is of keeping the original taxon.

[2018-11-19 09:20] bartaelterman opened #77 "Time slider labels should change on slide"

[2018-11-19 09:27] bartaelterman opened #78 "Fix images forms"
Seems like the inline image forms are gone...
- Put them back
- So far you can only upload 2 images. @peterdesmet Is a fixed number ok for milestone1? (the better option would be to have a small link saying "upload another image" but that would mean we would have to move some logic to the frontend).

[2018-11-19 11:00] #68 closed

[2018-11-19 11:02] niconoe commented on #55
Same issue with the new datetime selector for observation_time.

[2018-11-19 12:48] stijnvanhoey opened #79 "Legend for the map"
With having different dots on the map, we need a legend clarifying the different options.

[2018-11-19 12:49] stijnvanhoey commented on #77
Keep the current zoom level, as the current zoom level is (zoomed or not)

[2018-11-19 12:57] bartaelterman commented on #75
- [ ] Show the polygon of the zone in the management page
- [ ] Show a "zone" field in the observation form that is autofilled when the location is set
- [ ] If the zone is not equal to the zone of the user, indicate that visually in the form (but don't block the user. It is allowed to do this)

[2018-11-19 13:01] bartaelterman opened #80 "Show zone polygon on the map in the management page"

[2018-11-19 13:25] bartaelterman opened #81 "Capture application and sync logs"
Option 1: Capture all output at stdout and make them available in AWS cloud logs.
If that doesn't work, we can configure a logger that logs to AWS CloudWatch with [Watchtower](https://github.com/kislyuk/watchtower).

For the sync jobs, some alerting should be added in case warnings are thrown. These warnings are usually thrown when some edge case occurs and a manual intervention is needed.
For the

[2018-11-19 13:29] stijnvanhoey commented on #17
media files are pushed to inaturalist, so this is an additional backup of the images

[2018-11-19 13:48] stijnvanhoey commented on #14
make sure this is already working for the warnings/errors

[2018-11-19 13:49] bartaelterman opened #82 "Add dutch translations for the labels in the .po file"
Follow up of #14
When that issue is done, there will be a .po file that contains all labels that need a translation. Edit that file and add dutch translations.

[2018-11-19 13:53] stijnvanhoey commented on #70
in the current setup, there is:
- defining the observation is provided by a beekeeper (this does not inherently says this observation is at a beehive)
- defining the behavior *hunting at hive*, which is saying the observation is at the hive

So, how would these be mapped?

[2018-11-19 14:01] #19 closed

[2018-11-19 14:44] #74 closed

[2018-11-19 14:53] #77 closed

[2018-11-19 15:04] bartaelterman opened #83 "Rename species to taxon and make it a required field"
As a result of an early meeting, we implemented the observations with the option to have no species set. However, that is a case that we don't catch on other places (the home page cannot handle that right now and the sync push might also complain).
Are we actually really sure that we want to allow this?

An alternative was also proposed during a later meeting when discussing the species selector (

[2018-11-19 16:16] peterdesmet commented on #83
I’m fine making it required (assuming
higher taxa up to kingdom can be set). Pinging @karelschoonvaere @timadriaens.

[2018-11-19 16:48] stijnvanhoey opened #84 "manage command import geojson able to do twice"
I got the follow error when redploying the app:

[code]

Due to the fact that I did twice `command:  "python manage.py import_firefighters_zones data/Brandweerzones_2019.geojson"` during subsequent deployments. I know this is an edge-case, but @niconoe  how should I solve this best? Should I add the `truncate` option to the command or should I adapt the code of the `import_firefighters_zones.py` s

[2018-11-19 20:34] bartaelterman opened #85 "Show images and management actions on detail pages"
- [ ] On nest-detail page: show images and management actions
- [ ] On individual-detail page: show images

[2018-11-19 20:45] #55 closed

[2018-11-20 09:55] peterdesmet opened #86 "How to get current language?"
What is the template variable for current language? E.g. `en`, `nl`, etc.? Would like to set it here:

https://github.com/inbo/vespa-watch/blob/c92357b46e18df5d6bb1f44aba37e53306238dda/vespawatch/templates/vespawatch/base.html#L5

[2018-11-20 09:57] peterdesmet opened #87 "Material icons"
Are Material icons used? If not, I would remove loading:

https://github.com/inbo/vespa-watch/blob/c92357b46e18df5d6bb1f44aba37e53306238dda/vespawatch/templates/vespawatch/base.html#L14

[2018-11-20 10:32] niconoe commented on #87
They were used at least once (for a lock icon in navbar that leaded to the admin section), but it doesn't seem the case anymore.

I suggest using the good old "let's remove the code and if nobody complains I'm good" approach.

[2018-11-20 11:11] peterdesmet opened #88 "What is "moment-with-locales.js"?"
I noticed the loaded library: https://github.com/inbo/vespa-watch/blob/master/vespawatch/static/vespawatch/js/moment-with-locales.js

I assume this is moment.js with some extensions? Can you pinpoint me to the correct library so I can install it via npm: https://www.npmjs.com/

[2018-11-20 12:50] niconoe commented on #84
Yep, those scripts were initially created to be run only once, on the initial deployment.

Does ElasticBeans allows you to run a different set of commands for an initial deployment (creating everything from scratch) than for subsequent ones (only for application upgrade, so most of the time only updating the code itself + installing new requirements if necessary + running migrate + restarting app

[2018-11-20 14:12] bartaelterman commented on #88
Actually, maybe moment.js alone is enough. We don't do time zone conversions.

[2018-11-20 14:51] peterdesmet opened #90 "Create single messages template snippet"
@bartaelterman can you review which templates actually need messages? It seems odd to have it e.g. on the homepage:

https://github.com/inbo/vespa-watch/blob/c92357b46e18df5d6bb1f44aba37e53306238dda/vespawatch/templates/vespawatch/index.html#L20-L31

And if multiple templates require the same code block for messages, I would create a snippet for that in an `templates/includes` folder, cf. https://

[2018-11-20 15:07] peterdesmet opened #91 "Remove zone-selector"
@bartaelterman is it possible to make a separate component for `zone-selector`, rather than it being included in `VwManagementPage `?

https://github.com/inbo/vespa-watch/blob/06d791534b40c964522a924e0e796681607bcc2f/static_src/js/vespawatch.js#L363-L378

I would like to structure the template as follows:

[2018-11-20 17:25] peterdesmet opened #92 "Slider on management page should effect table"
It would be nice if the slider on the management page effects the slider AND the table below.

[2018-11-20 19:54] bartaelterman commented on #90
When you create a new observation by clicking on the "new observation" button on the homepage, you are redirected to the homepage if the creation succeeds. In that case, a message is displayed by this snippet to say that your observation was successfully created. (Implemented in #38 )

The same piece of code is also used on the management page because that is where you are redirected to when you c

[2018-11-20 19:58] bartaelterman commented on #92
Agreed. I expected some interaction between the map and the table to be requested at some point. That's why it's useful that they are already in this single `VwManagementPage` component.
I would even add that it would be useful if clicking on a row in the table would highlight the nest on the map.

[2018-11-20 19:58] bartaelterman commented on #82
It will be created by #14

[2018-11-21 08:00] stijnvanhoey commented on #84
Until now, the distinction between commands only on first deployment versus commands on each redeployment  was not required, as all functions required rerun or had no issue running again (the superuser command had the check included already).  I found a workaround [here](https://www.martin-brennan.com/run-aws-elastic-beanstalk-config-commands/) and I'll try to add that to the deployment, so we do

[2018-11-21 09:40] peterdesmet commented on #92
Agreed for clicking on row => highlight on map. But as discussed in #91 would rather have zone selector as separate component.

[2018-11-21 09:41] niconoe commented on #84
Thanks,

The changes that you did on the other scripts (only create if doesn't exists) can of course be done there too if this helps. It just wasn't my first suggestion because I had the feeling that the "first/subsequent" deployment distinction at the infrastructure would be needed soon anyway (maybe just because I'm use to having that for other projects).

Just let me know of your investigation

[2018-11-21 10:01] niconoe commented on #14
I just added a first version of the `.po` files so you can start filling them.

It might be good that you have at least a quick look at [the relevant page on Django's documentation](https://docs.djangoproject.com/en/2.1/topics/i18n/translation/), but in a nutshell:

- After filling the Dutch strings in the `.po` files, you must compile them to the more efficient `.mo` file format with: `python man

[2018-11-21 10:02] peterdesmet opened #93 "Only pull Vespa velutina (and subspecies) from iNat"
The sync with iNaturalist should only pull Vespa velutina from iNaturalist.

[2018-11-21 10:15] niconoe commented on #90
Another common way to solve this (and allows messages on all pages) is to add this code in the base template, before the actual content is inserted by the real templates (not sure if that applies here).

[2018-11-21 10:44] peterdesmet commented on #82
Found them in https://github.com/inbo/vespa-watch/tree/master/locale/nl/LC_MESSAGES

Question:

- How can I update the English text (e.g. if I notice errors, like this one below). I assume in views.py:

https://github.com/inbo/vespa-watch/blob/082022a3c4bf07d52032039aac94216e1136d55e/vespawatch/views.py#L78

- Are .po files generated?

[2018-11-21 10:48] stijnvanhoey commented on #17
I'd like to close this issue and moving specific elements to individual issues. One item to discuss first is CI/CD.
- @bartaelterman do you have anything to 'test' apart from deploying and checking the result? Would it make sense to setup any CI tool for testing elements?
- With respect to future deployment process. We keep deployment to prd *manual* and have a hook to continuously deploy master-b

[2018-11-21 10:50] niconoe commented on #82
I added a comment for this in #14. You're right: you change them in py/html/js files, collect them with `collectmessages` then compile the with `compilemessages`.

[2018-11-21 10:51] peterdesmet commented on #90
For now I only encountered it on the management and index page, so just including it there. Also for styling it's easier to NOT include it in base.html

[2018-11-21 10:54] bartaelterman commented on #17
- so far we have no tests, but I do would like to add those. However, let's adapt the CI/CD when needed and close this issue for now.
- deployment to production should indeed not be fully automated. Preferably it's a single command to execute or one button to click on.

[2018-11-21 10:56] stijnvanhoey commented on #17
The single button/command for deployment is `eb deploy`, so that's fine. As we have no tests, closing for now.

[2018-11-21 10:56] #17 closed

[2018-11-23 09:39] stijnvanhoey opened #94 "marker no longer visible after missed position search"
When recording an observation, when filling in a position item which does not return a valid result, the marker disappears. Getting it back requires a refresh, which is something the user won't know. We should catch the error and make sure the marker is still present after a failed address search.

[2018-11-23 13:05] bartaelterman commented on #91
Let's check whether the parent `VwManagementPage` is really needed. Maybe the different components (the zone selector, the map and the table) can talk to each other via the Vue app.

[2018-11-23 13:18] peterdesmet commented on #40
Blocked by #91

[2018-11-23 13:30] stijnvanhoey opened #95 "add cron-alike job for the scheduled sync with inaturalist"
either cron-job or lambda function

[2018-11-23 13:31] bartaelterman commented on #29
We tested it. Looks good! I added the design label for @peterdesmet because we need some styling there.
@niconoe Could you add a line of text at the end saying "If you don't know, select Insecta"?

[2018-11-23 13:33] bartaelterman opened #96 "Use a dropzone for the file upload"
There seem to be some vue components available for this https://github.com/vuejs/awesome-vue#file-upload

[2018-11-23 14:05] peterdesmet commented on #91
Decided that superuser cannot select zone: all obs will be shown. This should simplify vue components (i.e. no selector).

So management page:

- for firefighter account: their zone
- for superuser: all (no zone filter)

[2018-11-23 14:09] peterdesmet opened #97 "Investigate file per vue component"
Check documentation on how vue components can be defined per file and compiled for production, rather than having everything in vespawatch.js. Is this easy to setup?

[2018-11-23 14:13] peterdesmet commented on #70
Decided: keep current implementation “hunting at beehive” in behaviour.

[2018-11-23 14:13] #70 closed

[2018-11-23 14:18] peterdesmet opened #98 "Define behaviour vocab"
- [x] Add `vespawatch_behaviour` field to iNat (id=10192)
2. Sync behaviour information between that iNat field and our behaviour field
3. Populate with `hunting at beehive` for iNat obs that have tag `beehive` (for @peterdesmet, see #70)

[2018-11-23 14:20] peterdesmet opened #99 "Split species photo in nest_photo and individual_photo"
Rather than having a single example photo for **species**, have two photos:

* `nest_photo`
* `individual_photo`

Use the correct photo on the nest vs individual forms.

[2018-11-23 14:23] peterdesmet opened #100 "Add duration to management action"
Add field `duration` to management action model. It indicates the time duration an action took (in hours and minutes).

[2018-11-23 14:28] peterdesmet opened #101 "Create management action modal"
Rather than including the management action fields in the observation form, create a **modal** that is separate from this form and which can be called by clicking `action` from:

- Table on zone management page
- Observation details

The modal should be the same for `create`, `edit` or `view` and will thus only have input fields. It has three buttons at the bottom:

- `Save`: save new or existing

[2018-11-23 14:31] #78 closed

[2018-11-23 14:36] peterdesmet opened #102 "Update nest and individual model"
As discussed on 23 November:

- [ ] Rename `Location` to `Address` (nest and individual)
- [ ] Remove `Observer title` (nest and individual)
- [ ] Rename `Observation time` to `Date` (nest and individual) (suggestion by @peterdesmet: focus is on date really, but could also just update this on form)
- [ ] Make `Observer email` mandatory (nests only)
- [ ] Make `Observer telephone` mandatory (nests

[2018-11-23 14:40] peterdesmet opened #103 "Add * to indicate all mandatory fields"
Mandatory fields should be indicated as such with a `*` on the form. This is currently not the case for `Latitude`, `Longitude`, `Terms of service`.

[2018-11-23 14:40] peterdesmet opened #104 "Add some explanation regarding contact info"
Add some information on form on why we ask contact information for nest observations.

[2018-11-23 14:42] peterdesmet opened #105 "Only show Vespa velutina by default on homepage map"
Showing other species should technically also be possible (if a filter for that is implemented), but by default on Vespa velutina should be shown on map.

[2018-11-23 14:44] peterdesmet opened #106 "Map design"
Homepage map:

- Nest: bigger circles + blue
- Individual: smaller circles + orange

Management map (only nests):

- Outcome = finished: green
- Outcome = unfinished: red

What management outcomes are considered finished should be defined by @KarelSchoonvaere.

[2018-11-23 14:47] peterdesmet opened #107 "Management outcomes"
@KarelSchoonvaere, can you redefine the management outcomes + which ones are considered "in progress" (red) and which ones considered "done"? The current dropdown is:

- Full destruction, no debris
- Partial destruction/debris left
- Empty nest, nothing done

But you are welcome to add/remove actions (in conversation with the firefighters).

[2018-11-23 14:49] peterdesmet opened #108 "Allow map/table to be filtered on species and date"
Allow the map/table to not only be filtered with a slider, but with:

- Startdate
- Enddate
- Species (those defined in vespawatch)
- Behaviour (those defined in vespawatch)

The slider component can remain for now, but is basically a quicker (and less precise) way to set startdate and end date.

[2018-11-23 14:51] peterdesmet opened #109 "Add table with 10 latest observations to homepage"
Below map, sorted from recent to old. Just like on the management page, the slider _could_ work on that one, but not sure it makes much sense if we only limit to the 10 latest observations.

[2018-11-23 15:08] peterdesmet opened #110 "Use dropzone for adding images to an observation"
- Drag and drop
- Multiple images can be added at once (limit 5)

[2018-11-23 15:20] peterdesmet opened #111 "Restructure templates"
As discussed on 22 Nov, structure the templates as such:

- [ ] `action_create.html`: delete, replaced by `includes/managementaction_modal.html`
- [ ] `action_update.html`: delete, replaced by `includes/managementaction_modal.html`
- [x] `base.html`: keep
- [x] `index.html`: keep
- [x] `individual_confirm_delete.html`: keep, but could become modal
- [ ] `individual_create.html`: add
- [x] `individ

[2018-11-23 16:17] bartaelterman commented on #83
@niconoe I'm having some issues here: The model is imported in the migrations files so those break if I rename it. I know there are ways to do it, but I'm not sure how anymore. I think it's better if you have a look.

[2018-11-24 06:40] peterdesmet commented on #78
Yes, 2 is fine for milestone 1.

[2018-11-26 10:58] peterdesmet opened #112 "Allow position to be recorded from mobile phone"
When using vespawatch in the field, it would be good if the website can use the position of the user and use that as default location for recording a new observation. @niconoe @bartaelterman have done this before?

[2018-11-26 10:59] peterdesmet opened #113 "Add recaptcha for recording observations"
Since we have a form on our website to record observations (and especially upload photos) we should protect the app from being hacked. I suggest to add [Recaptcha](https://www.google.com/recaptcha/intro/v3.html) to the non-logged in form. @bartaelterman @niconoe what do you think? Alternatives?

[2018-11-26 11:05] bartaelterman commented on #112
I haven't done it before. However it looks like these days, there is a [HTML5 Geolocation API](https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_API) that should make this easy and well supported on most browsers.

[2018-11-26 11:38] niconoe commented on #82
Has anyone already added Dutch messages, compiled them and saw them in the app (just to confirm the process is generally working as expected?

[2018-11-26 14:05] niconoe commented on #83
Done!

(but I'll have a second look because that's the kind of change that break stuff - please also report issues).

[2018-11-26 14:44] niconoe opened #114 "Error when adding an individual"
From the site, select: add an individual. Click save (no fields set).

Expected result validation error.
Obtained result: UnboundLocalError at /individuals/add/

[2018-11-26 14:45] niconoe commented on #114
Same with nests.

[2018-11-26 14:51] niconoe commented on #114
appears to be because the `image_formset` variable is not initialized when the form validation fails.

[2018-11-26 14:57] niconoe opened #115 "Ne observation form: the species selector is in "show all" mode"
This is because "insecta" is selected by default at the Model level, and insecta is in the "more species" section.

[2018-11-26 15:32] #99 closed

[2018-11-26 15:35] niconoe commented on #102
@KarelSchoonvaere : could you give us the allowed values (controlled vocabulary) for `Nest size` and `Nest height`? Thanks!

[2018-11-26 16:06] peterdesmet commented on #115
Default species can be set to vespa velutina. Errors will be handled via validation.

[2018-11-26 16:13] KarelSchoonvaere commented on #102
Nest size would be less than 25 cm and more than 25 cm.
For height let's begin with
- below 4 meter
- above 4 meter
Reason is firefighters can reach 4m easily with simple ladder. If higher, they need the special type of material or even a fire ladder. Things to discuss with them first.

[2018-11-26 16:40] peterdesmet commented on #82
Not yet

[2018-11-26 21:03] bartaelterman commented on #83
Hey @niconoe I get an error when I run the migrations:

[code]

I  can try to drop the database entirely, but others might run into this as well. I'm not sure what could be the cause

[2018-11-26 21:06] #114 closed

[2018-11-28 11:09] niconoe commented on #115
Thanks, that may be an easy and efficient way to solve this!

[2018-11-28 11:14] #105 closed

[2018-11-28 13:59] niconoe commented on #102
@peterdesmet : about "Make observer email mandatory" and "Make observer email mandatory": I guess it only applies in the "create new nest" form, and in case of anonymous users (otherwise, the observer fields are not visible)?

[2018-11-28 14:16] niconoe opened #116 "Minify our custom Javascript with npm"
Among other things, it will make it obvious when we're by accident editing the file in `static` instead of the one in `static_src`

[2018-11-28 15:20] niconoe commented on #102
All should be good! Don't hesitate to test, there was some heavy/uncomfortable refactoring :/

[2018-11-28 15:30] KarelSchoonvaere commented on #98
- other [state in comment]

[2018-11-28 16:09] #115 closed

[2018-11-28 16:14] niconoe commented on #83
Aw, that's strange, I didn't had this one... no forgotten/unapplied migrations? It may be simplest to drop and recreate... Tell me how it goes!

[2018-11-29 09:05] bartaelterman commented on #83
hey @niconoe , I droppend and recreated the database, but I still have the same issue.

[2018-11-29 09:06] bartaelterman commented on #83
Here's the full traceback

[code]

[2018-11-29 09:44] bartaelterman commented on #83
I'm assuming it's migration `0006` causing the issue. It imports `get_default_taxon_id` which uses the `Taxon` model that has a `identification_picture_individual` field defined, but at that point in the migration, that field is still called `identification_picture`.

[2018-11-29 09:45] bartaelterman commented on #83
A good time to squash all migration files one more time?

[2018-12-03 10:10] niconoe opened #117 "Editing a nest (probably also an individual) via the forms lose inaturalist_id"
Thus breaking the sync_process.

TODO: Once it's solved, check that the mechanism that prevents the species to be changed on pushed observations still works.

[2018-12-03 10:11] #83 closed

[2018-12-03 10:12] niconoe commented on #83
Done, should be better now! @peterdesmet @bartaelterman @stijnvanhoey : You'll need to drop/recreate database one more time, sorry for the inconvenience.

[2018-12-03 10:22] niconoe commented on #117
@bartaelterman : is there a reason that `inaturalist_id` is listed in the "fields" attributes of the form? I was wondering if the fact it's specified in the form but not the template was responsible for this data loss bug? AFAIK inaturalist_id should be viewable, but not changeable (except in the admin for debugging and manually solving sync issues).

[2018-12-03 11:04] bartaelterman commented on #83
looks good to me now!

[2018-12-03 11:08] bartaelterman commented on #117
Or maybe just remove it from the form? It's not editable and so far, it is only viewable in map pop up.

[2018-12-03 11:32] niconoe opened #118 "Geocoding: properly handle/alert user when position doesn't return any result"

[2018-12-03 11:38] niconoe opened #119 "Remove all `console.log()` entries in JS"
... Or at least only execute them according to a global variable (debug?)

[2018-12-03 15:06] niconoe commented on #117
Yes, that was the plan, I just wanted to unsure there was not a good reason I was overlooking.

Just did it, it seems to work!

[2018-12-03 15:06] #117 closed

[2018-12-03 15:11] niconoe opened #120 "Report / edit observation forms: make sure obs are in the past"
Should probably be done at the Model level?

[2018-12-03 15:20] niconoe opened #121 "Forms: make taxon selector gray if it cannot be changed anymore"
This happens after a successful push @iNaturalist.

Currently, the user can change it, then gets an error message at form validation. It would be a bit nicer/more user friendly if it was immediately obvious.

[2018-12-03 15:58] #112 closed

[2018-12-03 16:00] niconoe commented on #112
There's now a basic autodetection based on the HTML5 Geolocation API.

As mentioned in various other tickets, those position/map widgets should be more polished (code, visual and interactions).

[2018-12-03 16:45] bartaelterman commented on #120
That seems the best place to me indeed.

[2018-12-03 17:20] bartaelterman commented on #111
I (re)moved some templates: 0c8e8972211dae193753da2b3ce3087938e5c7c6
The management modal will be tackled in #101

[2018-12-03 17:20] #111 closed

[2018-12-03 21:58] #91 closed

[2018-12-05 10:33] #100 closed

[2018-12-05 10:34] niconoe commented on #100
It's currently allowed to be empty (easier at the migration level), we'll change / refactor / squash as needed later on.

[2018-12-05 10:48] niconoe commented on #101
@peterdesmet: is it acceptable if, when adding a new observation the flow is split in two pages:

- First page: user enter details about the nest
- Second page: success message + ability to open the modal to add action to the newly added nest
- (then, redirects as it is now)

This flow would keep code much simpler/robust because the modal is only able to add/delete/change actions to already existi

[2018-12-05 11:09] niconoe commented on #93
@peterdesmet : what is the end goal there? Not having them cluttering the map?

I'm asking because if we just don't pull them from iNat, we have to make sure that doesn't break in any way the sync process described in detail in #2 (I'm thinking the edge cases, for example where we send them to iNat as V. velutina, but the community says it's in fact V. crabro, and we have some obs in our database

[2018-12-05 11:13] peterdesmet commented on #101
That is fine! We can always revisit if we get feedback.

[2018-12-05 11:20] niconoe commented on #118
Moved into #41.

[2018-12-05 11:20] #118 closed

[2018-12-05 14:19] niconoe opened #122 "Extract hard coded configuration variables from vespawatch.js"
(API calls for example)

Put our JS config in a global object `VWConfig` created in templates?

[2018-12-05 15:37] niconoe commented on #122
Another possible approach: define Vue templates in a specific Django template (using `<script type="text/x-template"`), that we include in "real page templates". That way, the Django url template tag can be used.

[2018-12-05 16:22] niconoe commented on #101
Basic modal to add a management action from the table works. Next steps:

- [ ] Handle validation
- [ ] Handle deleting an existing action
- [ ] Handle editing an existing action
- [ ] Implements in various pages (when adding on obs, on details page, ...)

[2018-12-05 19:53] bartaelterman commented on #101
@KarelSchoonvaere we discussed the option to allow firefighters to add multiple management actions to a nest. The alternative would be to have a single action, but a comment field where they can jot info from previous actions.
Do you have any feedback already about this? Which would be the preferred way of working?

[2018-12-05 20:11] bartaelterman commented on #122
Definitely.
I'm not sure what you mean with that latter option. But I like the simplicity of _Solution #1_  in [this blogpost](https://codeburst.io/how-to-call-api-in-a-smart-way-2ca572c6fe86)

[2018-12-06 07:48] bartaelterman commented on #97
Listing some ideas and resources here:

- This is where we should get started: https://vuejs.org/v2/guide/single-file-components.html
- We should probably go for a bundler like webpack or browserify. From a first glance, webpack seems very well documented and I have the impression from the vue docs that that is the preferred one. It also seems to be the default when you use the vue CLI (see my las

[2018-12-06 09:39] niconoe commented on #97
Thanks @bartaelterman, great list, that match quite well what I also found.

Honestly, I don't think it's the right time to implement this: from my experience, it will add a ton of complexity because we'll end up adding tools none of us is really familiar with and which will have many interactions (webpack/bundler + npm + django templates + some django plugins to glue all this together, at least),

[2018-12-06 09:42] KarelSchoonvaere commented on #101
There is a meeting with the firefighters planned for 16th January. Tonight I am also seeing the person responsible so I can already ask him unofficially.

[2018-12-06 09:51] niconoe commented on #101
Thanks. @bartaelterman : I have some comments from the technical side, always interested in your input. It feels in its current state the app is a bit in between...

- If we decide to indeed limit it to one, we should also enforce that at the model/validation level and make sure we have the correct DB representation for that.
- If we decide to allow multiple ones, we should make sure the whole sit

[2018-12-06 12:14] #116 closed

[2018-12-06 12:23] niconoe opened #123 "Remove generated files from source control"
For example `vespawatch.min.js`, CSS, ...

Prerequisites:

- [x] Add instructions to generate them (dev. environment)
- [x] Automate this for production

[2018-12-06 13:40] bartaelterman commented on #101
Currently, the model allows for multiple, but on the templates, only the first one is returned (see here https://github.com/inbo/vespa-watch/blob/master/vespawatch/models.py#L435)
Since the form only allows you to create 1 and edit/delete that one if it already exists, you are as a user not really able to add multiple actions (except via the admin interface). I think that was a pragmatic compromis

[2018-12-06 13:43] bartaelterman commented on #97
I totally agree! With the list I compiled now it makes it clear that this is not something we'll be able to do in a day. @peterdesmet up to you to move this issue down in the priorities list if you think that's appropriate.

[2018-12-06 14:35] niconoe commented on #122
@bartaelterman: I just implemented a mechanism to extract configuration (URLs and others) from the JS file and move it to the Django side (so URLs can be automatically generated, for example).

It works like this:

- In JavaScript, find the config in a global `VWConfig` object
- On the Django side, populate this object in `templatetags/custom_tags.py` (`js_config_object()`). For some things, it's

[2018-12-07 11:46] niconoe opened #124 "Define/enforce permissions"
Currently, it seems being a logged-in user is enough to be authorized to perform most (all?) write operations on observations, management actions, ... (see the various `@login_required` entries in `views.py`). We should:

- [ ] define a bit more deeply the roles / permissions of different users on different entities
- [ ] implement this (at the Model level, if possible, and using Django standard m

[2018-12-07 15:08] stijnvanhoey opened #125 "issue during deployment"
I was testing the new deployment setup, but received the following error on the `sync_pull` statement:

[code]

I think this is about this observation: https://www.inaturalist.org/observations/15680044

[2018-12-07 15:42] niconoe commented on #101
Basic edition is now working (still an issue with duration: minutes VS seconds)

[2018-12-07 16:12] niconoe opened #126 "Can we attach actions to observations coming from iNat?"
... If so, we'll have to update the sync process, since all iNat observations are dropped/recreated on each `pull` operation (the actions would then be lost).

[2018-12-10 08:16] niconoe commented on #125
Hi @stijnvanhoey, did you encountered the issue several time? I can't reproduce it on my machine (and this specific observation is also imported), so I was wondering if this could have been triggered by a transient error at iNaturalist...

[2018-12-10 08:37] niconoe commented on #119
Closed thanks to the new `DEBUG_JS` settings.

[2018-12-10 08:37] #119 closed

[2018-12-10 10:01] niconoe commented on #101
@peterdesmet : there's finally a decent add/edit/delete management action modal (accessible only from the management table for the moment, see screenshot below). Don't hesitate to test and give feedback!

![image](https://user-images.githubusercontent.com/386387/49724904-c4020600-fc6a-11e8-80b6-b4a07277a442.png)

[2018-12-10 14:00] niconoe opened #127 "Navbar: highlight selected menu entry"

[2018-12-11 10:53] niconoe opened #128 "App offline during sync_pull?"
Inconsistent/incomplete data can appear otherwise (for example, after deleting and before re-importing the observations coming from iNaturalist).

[2018-12-11 10:57] stijnvanhoey commented on #128
As in, it will be required to have the app offline? Or can we still make it work?

[2018-12-11 13:22] peterdesmet commented on #128
@niconoe can you explain in more detail. Are you worried what happens if the app goes offline on a sync_pull?

[2018-12-11 14:56] stijnvanhoey commented on #84
FYI, as we are not working in a single instance environment, but load balanced, servers are started/stopped when required (or during rolling updates). From the [documentation](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/ebextensions.html):

[2018-12-11 15:33] stijnvanhoey commented on #84
just to remember

Hence, leader-only is also not an option as this will be repeated when doing new deployments.

An option would be to document these commands as part of the general setup (cfr. S3 bucket creation) and not include it to the configurations for deployment.

[2018-12-11 16:58] stijnvanhoey commented on #81
different log streams to cloudwatch are enabled:
![image](https://user-images.githubusercontent.com/754862/49816379-02341e00-fd6e-11e8-88ad-e7408154b8d7.png)

Now need further testing on how toproperly handle django stdout and eventual alarm settings

[2018-12-12 14:46] niconoe commented on #128
Nope, I was just wondering if it wouldn't be safer to put the website temporarily offline during the `sync_pull` process, to avoid:

- showing incomplete/incorrect information to users (for example, the observations originating in iNaturalist are all dropped at the beginning of the pull process, are recreated one by one afterwards - the process takes a couple of minutes)
- race conditions: what ha

[2018-12-18 08:10] peterdesmet commented on #97
Thanks for the research. Indeed not something to tackle right now.

[2018-12-18 08:11] stijnvanhoey commented on #125
I can't reproduce the error indeed. Closing for now

[2018-12-18 08:11] #125 closed

[2018-12-18 08:13] peterdesmet commented on #116
How would you minify both files (vespawatch & language selector) into one?

[2018-12-18 08:22] peterdesmet commented on #93
Good points. I would not remove any obs from our database, as the system could be gamed. E.g. we don’t want to loose related management actions because iNat users suddenly decide to mark all our obs as not Vespa velutina.

Filtering is probably the simplist solution for now. And yes, it is about clutter. I.e. showing the recorded distribution of the target species.

[2018-12-18 14:17] niconoe commented on #122
I think we're good for now.

[2018-12-18 14:17] #122 closed

[2018-12-18 14:20] niconoe opened #129 "Observation map: make obvious things are loading (spinner? "loading..." message?"

[2018-12-18 14:39] niconoe commented on #116
For now I just merged vespawatch & language selector at the source level. So one source -> one minified.

It was the simplest solution and it didn't really made any sense to keep the language selector apart, given all the rest was bundled together in a large JS file. At a later stage, splitting our source into multiple files might be worth exploring, but we might end up with Webpack and stuff, so

[2019-01-07 09:32] #121 closed

[2019-01-07 09:35] niconoe opened #130 "Observation show/edit: clearly show origin/sync status"
Currently the origin (iNat Vs VespaWatch) and sync status is not shown (at least directly/clearly) to the user, which can make things confusing.

We could use a Bootstrap badge (or similar) to improve this.

[2019-01-07 10:03] niconoe commented on #120
Implementing at the model level, but will also make sure the JS selector don't allow future dates for a nicer user experience.

[2019-01-07 10:16] #120 closed

[2019-01-07 10:59] bartaelterman commented on #96
Integration with Django is not straight forward. These components assume that there is a single url where the images should be uploaded to. However in our case, it does not exist. We are working with an inline image form in the individual/nest form. That means that all image information should be sent to the `create_individual` or `update_individual` (or `_nest`) views in a single HTTP call.
We co

[2019-01-07 11:48] #109 closed

[2019-01-07 12:38] peterdesmet opened #131 "vespawatch_individual.taxon_id does not exist"
I can run the webserver, but browsing I get what I believe is an API error:

[code]

Any suggestion to solve this?

[2019-01-07 12:42] niconoe commented on #131
If you haven't use the app after December 3, you should drop/recreate the database then run `python manage.py migrate`.

Otherwise, just run `python manage.py migrate`. Keep us informed!

[2019-01-07 13:53] niconoe commented on #93
Filtering (at display time) will be implemented.

Your first point (not remove any obs from our database) will have to be discussed again, since it has implications with #2 (where we have some edge cases where deletion occur) and since  it seems to answer "yes" to #126 (so more work will be needed there).

[2019-01-07 16:04] #85 closed

[2019-01-08 10:01] niconoe commented on #126
Yes, we'll need a proper update mechanism for this. Then, those observations are not visible anymore from the public pages but only from the admin.

[2019-01-08 10:21] bartaelterman commented on #96
This looks like a workable solution:

We allow the app to create images that have no nest- or individual-id yet. We create an endpoint for POSTing those images.
The dropzone component can post the images that are uploaded to this endpoint. What we need to add is that it gets the image ids from the response and fills in those in a hidden field in the nest or individual form.
When that form is submi

[2019-01-08 10:36] niconoe commented on #93
If we're finally revamping the sync mechanism a bit more in depth, it may makes sense to reconsider this issue: maybe it's actually better to only pull V. Velutina...

[2019-01-08 11:31] niconoe opened #132 "Images are not deleted when observations are"
... At least for observations from iNaturalist, needs further investigation.

[2019-01-08 13:28] niconoe opened #133 "Allows marking observations as "need review" when push/pull warning"

[2019-01-08 15:47] peterdesmet commented on #131
Dropped database, now fixed.

[2019-01-08 15:47] #131 closed

[2019-01-08 15:47] peterdesmet commented on #93
See #2: we will only pull V. velutina.

[2019-01-08 15:51] peterdesmet commented on #126
Yes we can, because we decided in #2 that no observation can be automatically deleted.

[2019-01-08 15:51] #126 closed

[2019-01-08 15:51] bartaelterman commented on #106
I added [a property `finished`](https://github.com/inbo/vespa-watch/blob/master/vespawatch/models.py#L563) based on the value of the management action. We can always change it (and we should once #107 is closed)

Colors can be updated in the settings file: https://github.com/inbo/vespa-watch/blob/master/djangoproject/settings/base.py#L183. Reassigning this ticket to @peterdesmet to tackle the desi

[2019-01-08 15:53] peterdesmet commented on #128
The two reasons listed by @niconoe won't happen, because we decided in #2 that obs are not dropped + can not be edited.

Let's not put the app offline during sync, unless we encounter issues.

[2019-01-08 15:53] #128 closed

[2019-01-08 15:53] peterdesmet commented on #130
Good idea!

[2019-01-08 15:54] peterdesmet commented on #133
See #2, cases where we need warning are listed there.

[2019-01-17 10:21] peterdesmet opened #134 "Mandatory/non-mandatory fields on obs form"
Field that should be mandatory are indicated with *.

## Nest

field | mandatory status | * indicated
--- | --- | ---
**Species*** | ok | ok, is prepopulated
**Photo*** | make mandatory: solved | ok
**Coordinates*** | ok | ok
**Location address*** | make mandatory: solved | ok
**Date*** | ok | ok
**Nest height*** | make mandatory: solved | indicate
Nest size | ok | ok
Comments | ok | ok
**Observer

[2019-01-17 11:25] peterdesmet opened #135 "Present species photos before obs submission form"
1. From homepage or management, user can register an observation (`Melding`) by clicking a button
2. Opens a page (suggested URL `/observation`) with the most common species as photo + short description ([bootstrap cards](https://getbootstrap.com/docs/4.0/components/card/#card-decks)). Individuals and nests have separate entries.
3. By clicking a species/type card, the user opens the correct submi

[2019-01-17 11:35] peterdesmet opened #136 "Warn user on nest submission form for other nests"
Add a warning at the top of the nest submission form for non-Vespa velutina species:

[2019-01-17 11:48] peterdesmet opened #137 "Fields for management action form"
- [x] **Action** (mandatory) (instead of `Outcome`)
- [x] ~~**Person name**~~: remove, assumed to be zone
- [x] **Start time** (mandatory) (instead of `Action time`): includes date
- [ ] **End time** (mandatory): assumed to be same date, so don't ask date again
- [x] ~~**Duration**~~: remove
- [x] **Number of persons** (mandatory): integer
- [ ] **Materials used** (mandatory): multiple select, e.g

[2019-01-17 12:00] peterdesmet opened #138 "Dropdown list for action (types)"
1. `Nestverdelging`
2. `Nestverdelging: opvolging reeds behandeld nest`
3. `Geen actie: geen Aziatische hoornaar`
4. `Geen actie: dubbele melding nest`
5. `Geen actie: andere reden`

@KarelSchoonvaere can you review these choices?

- For 1. do you still want to make the distinction between `full/partial`, `debris/no debris`? **conclusion: no**
- For 2. do you want this? Because of the one-one rela

[2019-01-17 12:35] peterdesmet commented on #2
Decided with @KarelSchoonvaere that any incoming observation from iNat that is actually a nest, will be created/duplicated **manually** in Vespawatch by coordinator (copying information into obs submission form). Only we notice that the number of nests recorded via iNaturalist is too much, we will consider creating a more streamlined approach.

[2019-01-17 13:09] peterdesmet opened #139 "Only show validated nests to fire brigade"
Any recorded nest should be validated as being `Vespa velutina` by the iNaturalist community **before** it is shown as a nest that requires action by the fire brigade. Even though we do not require that information for individuals, it would be good to record that there as well (so we might filter on it).

1. Set `inat_vv_confirmed = TRUE` for:

[code]

2. Set `inat_vv_confirmed = NULL` for:

[code

[2019-01-17 13:23] peterdesmet opened #140 "Requirements for management page"
The management page for a fire brigade zone should be fast and simple

- [x] Only single button at top `Melding` (see #135)
- [ ] ~~Map should only show validated nests that need action~~
- [ ] ~~Map (and table) does not require time filter~~
- [x] Table should only show validated nests that need action (called `Openstaande opdrachten`)
- [ ] Table should have the columns:
    - [x] Date
    - [ ]

[2019-01-17 13:42] peterdesmet opened #142 "Email firezone for incoming validated nest observations"
An email notification should be send to the firezone user, when a new validated (#139) nest has been recorded in their zone.

[2019-01-17 13:46] peterdesmet commented on #130
Would maybe good to replace/combine this with the `inat_vv_confirmed` status (#139)

[2019-01-17 13:47] peterdesmet commented on #37
The fields to be pushed is described in #2. Closing here.

[2019-01-17 13:47] #37 closed

[2019-01-17 14:07] peterdesmet commented on #29
This functionality is no longer part of the observation form, but replaced by a page shown before #135

[2019-01-17 14:08] peterdesmet commented on #135
Selected species could be past in query string: `?species=1234&redirect_to=management`

[2019-01-17 14:10] peterdesmet commented on #29
Closing issue, I'll move the design labels over there.

[2019-01-17 14:10] #29 closed

[2019-01-17 14:12] peterdesmet commented on #96
I've put it lower on the prio, but still in https://github.com/inbo/vespa-watch/milestone/1

[2019-01-17 14:26] peterdesmet commented on #110
Duplicate of #96

[2019-01-17 14:26] #110 closed

[2019-01-17 14:37] peterdesmet commented on #47
Automatic import options didn't come up in the discussion with the fire brigade. Rather, recording a nest + its action manually should be as straightforward as possible, as it will be required in the Standard Operating Procedure.

[2019-01-17 14:37] #47 closed

[2019-01-17 14:40] peterdesmet commented on #92
This is low priority: it would only show on the `Uitgevoerde opdrachten` for fire fighters (see #140). It could be useful for the homepage.

[2019-01-17 14:42] peterdesmet commented on #18
Management actions are created by selecting an observation first (thus after an observation was created). There is no need for this functionality.

[2019-01-17 14:42] #18 closed

[2019-01-17 14:45] peterdesmet opened #143 "Return translated values of nest/individual in map popups"
Style the balloons when clicking an observation on the map

[2019-01-17 14:46] #32 closed

[2019-01-17 14:59] peterdesmet commented on #133
Also, that warning information should only be visible to super user, so I wonder if wouldn't be sufficient to only show this on the admin page.

[2019-01-18 10:18] peterdesmet opened #144 "Species to present to user"
@KarelSchoonvaere as discussed, we will present the user with a list of species (+ highlights how to recognize these) before they submit an observation. Can you:

- Provide feedback on the list (what should be added/removed/combined + are the Dutch names ok)
- Provide some highlights important for identification (e.g. yellow legs)
- Provide a representative photo for each of the entries (either as

[2019-01-18 16:38] peterdesmet opened #145 "Map with autoplay slider"
Discussed with @timadriaens.

On the homepage we would like to show the invasion of the species on the map. Instead of a slider that can set the start and end date:

- [x] Slider has a **fixed start date** (not shown) and only **one handle** to set the end date, thus showing the cumulative effect of the occurrences. The fact that this doesn't allow to show obs from a specific time period is OK.
-

[2019-01-18 16:39] peterdesmet commented on #145
There will be no related table that needs to be updated with the slider.

[2019-01-21 09:15] stijnvanhoey commented on #142
@berthuygens what would you advice (or is used in other applications): adding mailserver capabilities to the deployment (ec2 instances) or rather use the SES/SNS services from AWS and sent mails using these services?

In terms of infrastructure, the latter would require:
- an [SNS](https://aws.amazon.com/sns/) or [SES](https://aws.amazon.com/ses/) topic for the messaging
- subscriptions from the d

[2019-01-21 09:53] niconoe commented on #142
From the app side, the nicest option would be to send the messages using the standard Django features (as opposed to manually importing another API in views).

It seems there exists (at least) a solution for that, [django-ses](https://github.com/django-ses/django-ses). I have no experience with it, but ready to try.

@stijnvanhoey (since I'm still a bit lost in the AWS terminology), SES is for sen

[2019-01-21 10:13] stijnvanhoey commented on #142
It is either SNS (notifications service with multiple types of _subscribers_ to the topics. A possible subscriber is receiving emails, but can be plugged with other processes as well) or SES (email specific service).

According to @berthuygens the SES is preferred and has been used in _meetnetten_ as well (other django project)

[2019-01-21 14:20] peterdesmet opened #146 "Update URLs"
[code]

Avoids any broken URLs when navigating up the directory tree.

[2019-01-21 15:39] peterdesmet opened #147 "Add inaturalist obs URL to model of observation"
So we don't have to create this in templates. Return `None` if no `inaturalist_id` exists.

[2019-01-21 16:56] peterdesmet commented on #20
@niconoe I’ll also need per obs:

- detail page url
- inat url (see #147)
- type (nest/individual)
- inat_vv_confirmed

[2019-01-21 17:00] peterdesmet opened #148 "Create thumbnails for observation on creation"
For the map popup and latest obs, I need a thumbnail at 400x400 pixels (crop longer side). It should be created the moment an obs is created. I could do with just having it for first photo, but having it for all photos of an obs would be nice.

[2019-01-21 23:21] stijnvanhoey commented on #28
By providing the ssh command (or logging into a machine after initial setup), the command can be executed as required. Documentation is added, need to be checked in the bash instructions file.

[2019-01-21 23:21] stijnvanhoey commented on #61
By providing the ssh command (or logging into a machine after initial setup), the command can be executed as required. Documentation is added, need to be checked in the bash instructions file.

[2019-01-22 09:09] peterdesmet opened #149 "Latest observations page"
Create an `obs/` page with an overview of the latest observations (more than 4). Would allow @KarelSchoonvaere to quickly scan incoming information and review on iNat.

[2019-01-22 09:10] peterdesmet commented on #149
@niconoe can you start the page and URL, I can then take it from there.

[2019-01-22 09:20] #147 closed

[2019-01-22 09:20] niconoe commented on #147
Done, you can access it as a property of the observation, for example:

` {{ myobs.inaturalist_obs_url }}`

[2019-01-22 09:38] #149 closed

[2019-01-22 09:39] niconoe commented on #149
Done: there's a new page, available at `/obs` with some example about how to loop on observations (there are all there, most recent first).

You can generate a link to this page with: `{% url 'latest-observations' %}`.

Good luck!

[2019-01-22 10:18] niconoe commented on #148
Done!

Remarks:

- There are new requirements => `pip install -r requirements.txt` to install them
- Example use: https://github.com/inbo/vespa-watch/blob/3937ef18902779ed7335c6f29189edc9f09c6728/vespawatch/templates/vespawatch/individual_detail.html#L53-L58
- You might want to run `python manage.py generateimages` to generate thumbnails for already existing observation pictures.
- Resize with cro

[2019-01-22 10:18] #148 closed

[2019-01-22 10:42] niconoe commented on #146
Done, except `/obs` that links to the "recent observations" page, such as discussed in #149.

[2019-01-22 10:42] #146 closed

[2019-01-22 13:44] peterdesmet opened #152 "Rename, add, remove parameters in API"
- [x] `id`
- [x] `taxon`: make object
  - [x] add `taxon.scientific_name`
  - [x] add `taxon.vernacular_name.en`
  - [x] add `taxon.vernacular_name.nl`
- [x] `subject`
- [x] `address`
- [x] `latitude`
- [x] `longitude`
- [x] `inaturalist_id` -> easier would be `inaturalist_url` (done, but also kept the id)
- [x] `observation_time`
- [x] `comments`
- [x] `imageUrls` -> `images`
- [x] add `thumbnail

[2019-01-23 11:10] peterdesmet opened #153 "Allow identification_cards to be filtered on subject"
@niconoe, in:

https://github.com/inbo/vespa-watch/blob/cc9350a38bdf7ef1083b914652f8909bed66f691/vespawatch/templates/vespawatch/obs_create.html#L11

I would like to show nests separately from individuals. Can you allow `identification_cards` to be filtered on this?

[2019-01-23 11:20] peterdesmet commented on #153
Ignore, I will do this differently.

[2019-01-23 11:20] #153 closed

[2019-01-23 13:46] peterdesmet commented on #143
Reopening: still need to add vernacularname, once it is available in the api (#152)

[2019-01-23 13:46] peterdesmet commented on #135
@niconoe most of this is now done, except for the query string.

[2019-01-23 13:52] #86 closed

[2019-01-23 13:58] peterdesmet commented on #14
Tested and this works, for both `{% trans %}` and javascript. Closing issue.

[2019-01-23 13:58] #14 closed

[2019-01-23 14:00] peterdesmet commented on #82
Tested and it works. Will only complete this work once all templates are stable for 1st launch.

[2019-01-23 14:02] peterdesmet commented on #106
Is ok for homepage, moving to milestone 2 for management form.

[2019-01-23 14:18] peterdesmet commented on #127
@niconoe, this can be done by adding `active` to `nav-link` in `base.html`. The question is how. I see two solutions:

- Either a one-line jQuery add the end of the template (e.g. on `index.html`)
- Or via some templating mechanism, but with the caviat that it needs to updated in `base.html` which I don't think can be accessed via other template.

[2019-01-23 14:19] peterdesmet commented on #20
Looks done on homepage, but still need the elements described above.

[2019-01-23 14:38] peterdesmet opened #154 "Add pages for about and identify"
Two static pages need to be added (already listed in navbar):

- `identification`: https://vespawatch.be/herkenning
- `about`: https://vespawatch.be/vespa-watch

@niconoe how do we want to structure this? Two templates with giant `page_fragments`? That would allow to maintain the content from admin (👍) + provide the text in Dutch and English (👍). I only wonder how _local_ images can be linked from

[2019-01-23 14:48] peterdesmet opened #155 "Generate pictures in /pictures folder"
The pictures are currently generated in 3 directories in root:

[code]

I think it would be nicer if we could group this to:

[code]

[2019-01-23 14:52] peterdesmet commented on #154
Well, if the images are uploaded to static in the repo, one could link to them.

[2019-01-23 14:53] peterdesmet commented on #154
@niconoe can you create the two templates with the correct URL:

url | template
--- | ---
/identification | identification.html
/about | about.html

[2019-01-23 14:55] peterdesmet opened #156 "Add footer"
Add a footer to base.html, so it is displayed **on every page**. Should include some links:

- TOS
- Partner links/logos
- Developed by LifeWatch INBO
- @KarelSchoonvaere anything else?

[2019-01-25 14:03] stijnvanhoey opened #157 "loading times, with main impact on points on map"
When loading the homepage, the time to have the observations/nest appear on the map is very long. When checking the flow:

![image](https://user-images.githubusercontent.com/754862/51749855-d1efd700-20b0-11e9-9ed4-de5cbf7aaf2e.png)

- loading of the static elements of the page (+/- 800ms)
- purple line is the loading of the carto background
- long waiting time is the api call `/api/observations`

[2019-01-25 14:14] stijnvanhoey opened #158 "Additional steps during initial deployment"
When currently deploying the website the first time in a new environment, a lot of information is still missing to make the website work properly:
- without `identification_cards` the `add observation` won't work
- i'm also thinking about the `page_fragments`

As we aim to have the environment completely re-deployable, we should have a procedure to provide the proper _defaults_ during initial depl

[2019-01-25 14:29] timadriaens opened #160 "reference to INBO on homepage"
Could you please foresee a button "powered by INBO", immediately visible on the homepage (so on top of the page).

[2019-01-25 14:30] timadriaens opened #161 "homepage footer information"
the following partners/text should be mentioned in the footer:

INBO
Honeybee Valley (https://www.honeybeevalley.eu/)
"met financiële steun van het Departement Economie, Wetenschap en Innovatie" (or their logo + link underneath)

[2019-01-25 14:31] timadriaens commented on #156
the following partners/text should be mentioned in the footer:

INBO
Honeybee Valley (https://www.honeybeevalley.eu/)
"met financiële steun van het Departement Economie, Wetenschap en Innovatie" (or their logo + link underneath)

[2019-01-25 15:11] stijnvanhoey commented on #161
(only close when work is done ;-)

[2019-01-25 16:04] peterdesmet commented on #161
@stijnvanhoey was added as a comment to other issue: https://github.com/inbo/vespa-watch/issues/156#issuecomment-457590521

[2019-01-25 16:04] #161 closed

[2019-01-28 11:00] niconoe commented on #158
The initial content can be created via a migration, so it nicely fits our existing procedure (we already do  this for the species table and page fragments - we'll just need better content for this).

Does that sounds like a good way to do it?

[2019-01-28 11:09] niconoe commented on #157
Indeed. I'm pretty sure a combination of three things will make that page load more decent:

- We'll improve the performances of the `/api/observations` call. Plenty of (not yet explored) options; nothing super easy/efficient since we've split Individuals and Nest in two tables and models, therefore some operations have now to be done in Python instead than at the DB level. I'll assign myself to s

[2019-01-28 11:12] niconoe commented on #157
Performance is indeed terrible, worse than before. Will investigate immediately.

[2019-01-28 12:41] stijnvanhoey commented on #157
The current dev server is indeed a small machine (`t2.micro`) and I don't think we need to solve performance here on the hardware side (vertical scaling). For a small application as this, it should be perfectly fine to run in production using a `t3.micro` (2 CPU instead of 1 in the `t2micro`) instance. As visitor levels will be very small in general, scaling for the occasional moment more users ar

[2019-01-28 12:47] stijnvanhoey commented on #158
Is that as part of the `python manage.py migrate --noinput` existing step?

[2019-01-28 12:59] niconoe commented on #157
After a bit of investigation, it seems most of the time is spent in the two `as_dict()`methods. In there, about half of the time is spent on getting the images (full size and thumbnails) URLs.

We're adding more and more fields to `to_dict()`, so this code can be reused in multiple pages. It's good, bit it may become incrementally slower because of that. I'm thinking of adding some parameters to m

[2019-01-28 13:53] niconoe commented on #158
Yes.

[2019-01-28 13:55] niconoe commented on #155
Fixed, you'll need to reupload pictures on your development machines (the path are stored in the database).

[2019-01-28 13:55] #155 closed

[2019-01-28 14:36] stijnvanhoey commented on #158
OK, and where is the content stored?

[2019-01-28 14:38] niconoe commented on #154
@peterdesmet : I just added those, with the requested URLs and templates files. I also set two page fragments, it seems to be the right tool for the job! About those page fragments:

- You can actually upload pictures in Page Fragments! In the admin, just drag & drop some images in the field. They'll be uploaded, and a proper URL will be generated in the Markdown code.
- Once you have good initial

[2019-01-28 14:56] niconoe commented on #158
The content appears in the migration files themselves. For example: https://github.com/inbo/vespa-watch/blob/1d3b5a5adfb787e170afb55b491b8f0309f02516/vespawatch/migrations/0002_initial_data.py#L8-L18

After the migration is applied, it's stored in the database.

It makes sense from a Django viewpoint... Does it from yours and the AWS logic? Happy to explore other options if needed!

Note: the idea

[2019-01-28 14:59] stijnvanhoey commented on #158
Having the information inside the migration files itself makes sense, but how does this work on later deployments? Does the migrate functionality accounts for this?

[2019-01-28 15:07] niconoe commented on #158
On later deployments, only the new migrations are applied since the database knows at which version it's at. So unless we manually create other migrations to hack existing content, it will not change automatically.

In other terms: except its initial populate operation via a migration, the Page Fragment data will be stored as regular application data in the database: it can be updated manually in

[2019-01-28 15:08] niconoe commented on #157
This is interleaved/should be done in tandem with #152.

[2019-01-28 15:34] niconoe commented on #20
... and the subject:

`{{ my_observation.subject }}`

[2019-01-29 21:01] peterdesmet commented on #154
Reopened to test.

[2019-01-30 08:40] Erytran commented on #138
5 points are good. For 1 you can leaf out full/partial or debris/no debris options. Let's keep it straightforward. Besides, the manual removing strategy has been lifted from the SOP, so technically speaking nests will never be removed during eradication actions.
For 2. as we discussed in the meeting, re-activity in a previously eradicated nest will be reported by a new nest. The firefighters shoul

[2019-01-30 09:52] peterdesmet commented on #138
**agreed**

**as I understood, without making an actual link, but just a dropdown option**

Example 1:

1. Nest is reported (A)
2. Firefighters contact reporter, take action and report as `Nestverdelging` for (A)
3. Nest is reported (B)
4. Firefighters contact reporter, learn this is a case of re-activity in a previously eradicated nest, take action and report as `Nestverdelging: opvolging reeds b

[2019-01-30 09:56] Erytran commented on #144
Individuals: take Vv and Vc + those included in https://docs.google.com/document/d/1SKKnvn0di--Uvk05ISSdOoRu4Cw0DexBVV5OXEwBI-o/edit# page

For species card text you can use the tekst that is below the pictures.

[2019-01-30 09:56] Erytran commented on #144
Or is that too much text?

[2019-01-30 10:13] timadriaens commented on #145
@peterdesmet the first belgian record was 2011

[2019-01-30 10:17] Erytran commented on #145
I have a remark. Maybe animated invasion will be a frustration to the people who are actively using the map. Besides, it will become crowded and unclear. In my thinking, map will be used by 3 categories:

1. people actively searching for nests
2. beekeepers who want to know if hornets are signaled in their neighbourhood
3. random people who just want to check the progress/invasion history => need

[2019-01-30 10:20] Erytran commented on #145
There is no official start date of the invasion. It can either be the first individual record (2/10/2011) or the first nest record (20-11-2016)

[2019-01-30 10:33] timadriaens commented on #144
Dutch name | Species | Push to iNat as
-- | -- | --
Aziatische hoornaar | Vespa velutina | https://www.inaturalist.org/taxa/119019
Europese hoornaar | Vespa crabro | https://www.inaturalist.org/taxa/54327
Duitse/gewone wesp | Vespula germanica/vulgaris | https://www.inaturalist.org/taxa/61356
Stadsreus | Volucella zonaria | https://www.inaturalist.org/taxa/343983
Middelste wesp | Dolichovespula me

[2019-01-30 10:34] KarelSchoonvaere commented on #138
OK for no actual link.
There will always be the case of redundant reports, as is now in waarnemingen.be

@Tim, I am thinkin of your reports to Europe. How will you deal with redundant reports in your statistics?

[2019-01-30 10:39] timadriaens commented on #138
based on the categories (reeds behandeld, dubbele melding...), we can filter out the doubles. If that does not work --> based on coordinates, dates etc. i.e. manual filtering

[2019-01-30 10:45] timadriaens commented on #145
I though the idea was to have a separate page with more detailed 'statistics': #records per year, #nests per year, #nests destroyed, and to reiterate the map but without the animation, leaving the option to select on year, nest/individual to the user. The animated map can then remain on the homepage as it is imo more engaging for the general public.

[2019-01-30 10:47] timadriaens commented on #154
that can certainly be done at a later stage, and we can can discuss this with our walloon colleagues. For now English and Dutch will do fine.

[2019-01-30 11:09] niconoe commented on #154
From a technical point of view, I can confirm all the mechanisms are already in place.

In fact, the texts at the code level are in English, so every Dutch word that you can observe is already technically a translation. Thus, adding French texts at a later stage will be relatively straightforward.

[2019-01-31 10:36] peterdesmet commented on #145
Let's keep the animated map on the homepage.

@Erytran The user will be able to pause the map and see nest vs individuals. But I agree it would be good to see the data for a certain season. We'll decide later where to do that best.

[2019-01-31 10:37] peterdesmet opened #162 "Map with selector per season"
See https://github.com/inbo/vespa-watch/issues/145#issuecomment-458889263 and https://github.com/inbo/vespa-watch/issues/145#issuecomment-459296807.

[2019-02-04 15:13] niconoe opened #163 "Remove nouislider"

[2019-02-11 09:40] #163 closed

[2019-02-11 12:42] niconoe opened #164 "Consistency about iNaturalist-related stuff (variables, field names, ...)"
- [ ] Use the short "inat" version.

[2019-02-11 13:07] peterdesmet opened #165 "Use consistent manage.py commands"
Current `manage.py` commands use a mix of underscores and not, best to make it consistent:

Suggestion:

old | update
--- | ---
`runserver` | django
`migrate` | django
`createsuperuser` | django
`create_su` | ??
`import_firefighters_zones` | `importfiredeptzones`
`create_firefighters_accounts` | `createfiredeptusers`
`sync_pull` | `syncinat`
`makemessages` | django
`compilemessages` | django
`gene

[2019-02-11 13:09] peterdesmet opened #166 "Consistency about fire department-related stuff (variables, field names, ...)"
Use name `firedept`.

[2019-02-11 13:20] peterdesmet opened #167 "Nicer error if thumbnail not found"
1. Create an observation and add an image
2. Remove the generated thumbnail from the server

This will create a template error:

[code]

Here:

https://github.com/inbo/vespa-watch/blob/7e8eb4c3f35e8ce06fac383aed1f47efef23ce4d/vespawatch/templates/vespawatch/includes/obs_card.html#L7

Is there a way to not have a template error when the image couldn't be found?

[2019-02-11 15:08] peterdesmet commented on #20
Great, although `detail_page_url` is more consistent (without `get_`). Remaining task for this issue to be closed: `inat_vv_confirmed` flag (#139)

[2019-02-11 15:21] peterdesmet opened #168 "Add form_url to identification card + link on picture"
In `obs_create.html` I'm creating the form url as:

https://github.com/inbo/vespa-watch/blob/36b3390dbf7b63c90ca0fd7ecb82efe5125ee05d/vespawatch/templates/vespawatch/obs_create.html#L35-L39

I need to do this for the image too and thought all this might be better set in the `identification_cards` view instead. 😁

@niconoe, can you return `form_url` for `identification_card`? You can leave the `&re

[2019-02-11 15:31] peterdesmet commented on #135
@niconoe any idea when you are planning to work on the `observation_form` so that the species is already selected?

Note: it would be nice if I had access to the properties of the corresponding identification card for that species, e.g. at the top of the form show the scientific name, vernacular name and the image.

[2019-02-11 15:42] peterdesmet opened #169 "Detect current position doesn't work"
Does it work for anyone else?

[2019-02-11 15:58] peterdesmet opened #170 "Update observation form so species is already selected"
@niconoe, I'm splitting the work into the page before the individual/nest form (issue #168, almost done) and updates to the individual/nest form itself (this issue).

Basically, I would like that:

1. The selected taxon is passed to the form in a query string
2. The species form selector (and the code for it) is removed
3. The form has access to the `identification_card` properties, so I can displ

[2019-02-11 16:01] peterdesmet commented on #135
@niconoe, scratch that. I've split the remaining work into #168 (adding correct url to identification card) and #170 (updates to observation form). This one (adding a page where species can be selected) is now closed.

[2019-02-11 16:01] #135 closed

[2019-02-12 09:30] peterdesmet opened #171 "Add dummy image to cards when there is none"

[2019-02-12 09:40] peterdesmet opened #172 "Move terms of service to separate page"
Since this page will contain some text, it is better to make this a separate page, link through it from the observation form using a normal link (with `target blank`) and also link to it in the footer.

[2019-02-12 09:46] stijnvanhoey commented on #169
Nope.

[2019-02-12 10:12] peterdesmet opened #174 "Split about page in sub pages"
There is quite a lot of text for the about page, that is best split over multiple pages. What we need is:

url | todo | how to get URL
--- | --- | ---
about/ | @peterdesmet update template to tiles with subpages | `{% url 'about' %}`
about/project/ | @niconoe create template and page_fragment | `{% url 'about_project' %}`
about/activities/ | @niconoe create template and page_fragment | `{% url 'ab

[2019-02-12 10:59] peterdesmet commented on #143
Things left to do for popups:

- Add correct vernacular name (EN/NL)
- Add `validated` as translatable string
- Make `nest/individual` translatable string
- Make data translatable (minor)

[2019-02-12 11:02] stijnvanhoey commented on #142
@niconoe how can I best try this out? if you provide me a location where I can add the `django.core.mail.send_mail` functionality or give me a small snippet, I can try it out myself both packages and the AWS settings.

[2019-02-12 13:31] niconoe opened #175 "Animated map: don't display "1970 Jan" (null timestamp) before the data is loaded."
In combination with #157 and polishing from #145, this will improve the user experience!

[2019-02-12 15:06] niconoe commented on #174
I just added a column telling how to generate links to those page in templates.

[2019-02-12 15:08] niconoe commented on #174
@peterdesmet : should we remove the "terms_of_service_modal.html" template and all related code?

[2019-02-12 15:35] niconoe commented on #174
New pages created as requested:

- You'll need to run `python manage.py migrate`
- To keep things in order, I consider the removal of `terms_of_service` page fragment and related code (views, template, link to modal, ...) a second task. I'll perform this once I have confirmation all that should disappear.

[2019-02-12 15:38] stijnvanhoey opened #176 "ValueError at /obs/ due to missing template element in dev environment"
In DEV environment, an error is regularly encountered with In template `/opt/python/current/app/vespawatch/templates/vespawatch/includes/obs_card.html`, error at line 7:

[code]

While at the same time the home page is still working (but not the play button), the management page is also not working. I'm not entirely sure, but probably the issue is linked to #171 as I can fix the issue after runnin

[2019-02-12 15:44] stijnvanhoey commented on #95
fixed in DEV

[2019-02-12 15:44] #95 closed

[2019-02-12 15:58] stijnvanhoey commented on #142
I added the policy document setup to the https://github.com/inbo/vespa-watch/tree/deployment-ses branch

[2019-02-12 16:12] peterdesmet commented on #174
Yes, the intention is to remove all terms_of_service_modal code, but I’d like to test the rest first.

[2019-02-13 08:31] #171 closed

[2019-02-13 08:32] peterdesmet commented on #176
@stijnvanhoey can you check if e3ec6f1 fixed the issue?

[2019-02-13 08:57] peterdesmet commented on #167
This is probably a duplicate of #176

[2019-02-13 08:57] #167 closed

[2019-02-13 09:07] peterdesmet opened #177 "Define map colours and settings in js (and maybe css)"
Took me quite a while to find where the map colours are setting:

- Not in the css
- Not in the JS
- Not in the views
- But in the `base.py` settings:

https://github.com/inbo/vespa-watch/blob/6fd00074ac57d22e93b03862f934cf3434bc81ce/djangoproject/settings/base.py#L186-L208

I think it would make more sense to just set this in the JS (and if possible CSS for colours). @niconoe @bartaelterman thoug

[2019-02-13 10:05] niconoe commented on #177
**TL;DR: the general mechanism behind this may be weird, but it's not that easy to find a better replacement. For the purely "visual/CSS" part, we can probably improve things by using CSS classes (detailed solution in the last paragraph).**

- The current mechanism works like this: a `js_config_object` custom template tag dumps a big JSON object in HTML templates, this object takes its data source

[2019-02-13 10:32] #175 closed

[2019-02-13 10:52] niconoe commented on #168
Hmmm, `identification_card` is an instance of the `IdentificationCard` model, not a view...

So yes, I can easily return the `form_url` (which is actually a view URL) as a property of it, but I think its actually a bit worse than the current situation, architecturally speaking :) (more model/view coupling) That being said, it will probably not break anything so I'll definitely do it if you insist!

[2019-02-13 10:57] niconoe commented on #169
Hmmm, it seems to work for me. Any other message in the JS console?

[2019-02-13 12:42] stijnvanhoey commented on #176
After redpeloyment, still error on the template:

[code]

[2019-02-13 12:53] stijnvanhoey commented on #176
-> after a rerun of `generateimages` the issue is _solved_ again

[2019-02-15 12:55] niconoe commented on #176
I think it might very well be this issue: https://github.com/matthewwithanm/django-imagekit/issues/473

[2019-02-15 13:27] niconoe commented on #170
@peterdesmet : I'm about to remove the species selector, but I notice the same form was also used to edit existing observations. The selector was always shown, but sometimes (when the observation was taking its source in vespawatch, but the record was already pushed to inaturalist) in a read-only form.

Since many things have changed, I have a few questions:

- Do we still need a form to change/up

[2019-02-15 14:51] peterdesmet commented on #170
No, you can remove all editing possibilities. The only option you could leave in frontend is "delete".

[2019-02-15 15:04] niconoe opened #178 "Remove observation edition features from the "non admin" pages."
As discussed in #170.

[2019-02-15 15:34] #178 closed

[2019-02-15 15:40] niconoe opened #179 "Review permissions and conditions to edit/delete observations"
Since things have changed quite a bit, it would be great to see if what is implemented in terms of:

"who can delete or edit which observations, where (admin VS public templates) and at which conditions (sync status, ...)"

is still up-to-date.

Suggested approach:

- I review what the code currently does and suggest changes based on my understanding
- I ask @peterdesmet to review
- I change the c

[2019-02-15 15:43] peterdesmet commented on #179
OK. See also #2. I think the gist is: always deletable, only editable if not yet in iNat.

Given that, I don't think we need a public _edit_ interface. And to keep the scope small for now, we could say we don't need a public delete interface either.

[2019-02-15 15:52] peterdesmet opened #180 "Indicate when map is loading"
We can use a Bootstrap spinner: https://getbootstrap.com/docs/4.3/components/spinners/

[2019-02-18 08:09] niconoe commented on #180
Good idea! We'll need to update Bootstrap, since it doesn't appear to exist in the version we use (4.1.3). I guess it's a good idea to update anyway!

[2019-02-18 08:11] niconoe opened #181 "Update Bootstrap to 4.3"
In addition to provide the spinner we need for #180 it seems a good idea to stay up-to-date before first release.

[2019-02-18 08:20] niconoe commented on #181
Done!

[2019-02-18 08:20] #181 closed

[2019-02-18 08:59] bartaelterman commented on #169
This seems to be browser dependent:
- Chrome (and Opera by the way 😛 ): browser first requests access to your location. If you approve, my OS now ask access to give the location to the browser. If approved again => location is set.
- Firefox: browser requests access. -> Approved -> veeeeery slow, but the location is set.
- Safari: nothing happens. Only a console warning saying `Access to geolocati

[2019-02-18 09:08] niconoe commented on #169
Works fast for me in Firefox, and even located me in the right café :)

However, I just learned that the geolocation API is more and more restricted by browsers when the page is not accessed in HTTPS (with some exceptions for localhost). That would explain our different experiences.

Opening another ticket to discuss the deployment over an HTTPS URL.

[2019-02-18 09:13] niconoe opened #182 "Deploy with SSL/HTTPS"
We should decide if we want to deploy over HTTPS:

Pros
- Is getting more and more standard, browsers now show "this website is not secure" over HTTP and visitors expect it from a "serious website"
- Geolocation (needed for the report form) will not work (at least reliably/consistently/everywhere/in the long term)

Cons
- May be more complex to deploy
- We need to test it soon (risk of things brea

[2019-02-18 09:20] peterdesmet commented on #182
I would say `https`, especially since there is a login part too. Don't know what that entails for deployment though.

[2019-02-18 09:44] niconoe commented on #182
@bartaelterman just told me the exact same thing, I was coming there to log it (and I also agree we should try it).

[2019-02-18 10:01] bartaelterman commented on #180
Should put this on the play button because base map loads fast

[2019-02-18 10:05] peterdesmet commented on #180
- [ ] Disable interaction with button when loading
- [ ] Set spinner on button when loading
- [ ] Set start date to 2015-06-01

Address #157 first

[2019-02-18 10:13] peterdesmet opened #183 "Indicate if observation is validated or not"
Based on `inat_vv_confirmed` (in #139), display `validated` tag for observations:

- [x] Map popups (requires #152)
- [x] `obs_card`
- [x] Nest details: no longer exists
- [x] Individual details: no longer exists

[2019-02-18 10:18] peterdesmet opened #184 "Add vernacular name to popups"
See #152

[2019-02-18 10:22] niconoe commented on #180
Sorry, was working in parallel. I solved the initial point the simplest possible way. Finally use [Leaflet.Spin](https://github.com/makinacorpus/Leaflet.Spin) (much simpler than Bootstrap, due to our architecture).

[2019-02-18 10:28] bartaelterman commented on #180
I thought it was going to be hard to put the spinner over the already loaded basemap, but it turned out that was not the case. Although the interaction is not really disabled, I think Nico's implementation is clear for now.
The start date is not set explicitly, but it is hidden as long as the data is not received from the API. Seems clean to me.
I'll close for now.

[2019-02-18 10:28] #180 closed

[2019-02-18 10:35] stijnvanhoey commented on #182
We certainly will deploy using `https`, something @berthuygens will take into account on the UAT/PRD level

[2019-02-18 10:45] bartaelterman commented on #145
For the first version we'll be focusing on the general public. I think the autoplay that is currently implemented is ok for a first release.

[2019-02-18 10:45] #145 closed

[2019-02-18 10:54] bartaelterman commented on #144
@niconoe Add these species to the migrations so they are created in the database on setup.

[2019-02-18 11:06] niconoe commented on #157
Note to self: already improved things a bit while working on #152 / #184 thanks to `select_related()`. I should probably do something similar with pictures (`prefetch_realted()`?) in `get_observations()`.

[2019-02-18 11:08] bartaelterman commented on #170
I updated the views. You should be able to access the identification card in the form template as `identif_card`

[2019-02-18 11:08] #170 closed

[2019-02-18 11:09] bartaelterman commented on #182
@stijnvanhoey Is there something we need to do on our side?

[2019-02-18 12:53] #184 closed

[2019-02-18 12:55] niconoe commented on #184
@peterdesmet : You'll probably want to customize the look and feel at https://github.com/inbo/vespa-watch/blob/6751d0ce1f96a81bd98e8bfc1b3d0348618d3ffb/static_src/js/vespawatch.js#L63

[2019-02-18 13:35] niconoe commented on #139
Should be tackled when revamping the sync process (currently planned: "as late as possible, but before 0.1").

[2019-02-18 14:43] niconoe opened #185 "Identification card in report form: issue if form is redisplayed (because validation fails)"

[2019-02-18 14:52] niconoe commented on #2
Before we can release, we'll need to:

- Carefully checks everything here (first comment) is still true and consistent (after the discussions with the firefighters and other evolutions)
- Implement it (currently: very old code, doesnt't do we want anymore)
- Make basic tests

[2019-02-18 15:16] niconoe commented on #2
@peterdesmet : can you help me reviewing the detailed sync description in the first comment point by point, to make sure it still fits the latest changes and discussions? The current sync code is REALLY old and I think  we need something decent before release, so I'm considering ditching the whole stuff and reimplementing from scratch according to this description.

But it's a large task, hings ha

[2019-02-18 16:06] peterdesmet commented on #66
I think I will move this to later milestone and not show any public detail page on website (but directly link to inat)

[2019-02-18 20:23] peterdesmet commented on #139
Can be kept for milestone 2.

[2019-02-19 22:36] bartaelterman opened #186 "Check management page map after refactor for #157"
After refactoring to improve performance (see #157 ), I have not tested the impact on the management page. We should check:
- the map still loads as expected
- the API is not called too much (I checked, it does...)
- all information for the table is gathered from somewhere

[2019-02-19 22:39] bartaelterman commented on #157
I made the following changes:

- We added a `light` parameter to the API. That returns fast, but incomplete, observation results. (by using django's `model_to_dict` builtin function).
- I've split the API. There is now an endpoint for nests and one for individuals.
- I've changed the way the popup was created. @peterdesmet  unfortunately It's now closer again to my first implementation, reverting

[2019-02-21 13:18] stijnvanhoey commented on #61
works fine during deployment and documented, closing.

[2019-02-21 13:18] #61 closed

[2019-02-21 13:20] stijnvanhoey commented on #84
The distinction is made as following:

- first deployment only commands are provided using the `eb ssh` command line element, which is part of the setup, but not part of the `.config` container or machine commands
- each deployment commands (e.g. migrate) are provided within the `.ebextensions` configuration files.

[2019-02-21 13:20] #84 closed

[2019-02-21 13:46] stijnvanhoey opened #187 "page fragments initial setup"
To provide the site content (about pages,...) with the page fragments, we could do this as part of the initial setup, cfr. #158. However, some elements to consider:
- when images are required, these should be moved to S3 (subfolder `markdownx`) to include these. technically not an issue, but additional config during setup.
- having some prefilled information on DEV level is convenient (so, develop

[2019-02-21 13:47] stijnvanhoey commented on #158
closing here, further discussion on what to include in page fragments on initial setup to be discussed in #187

[2019-02-21 13:47] #158 closed

[2019-02-21 13:56] stijnvanhoey commented on #123
For the record:

- described in readme for local development
https://github.com/inbo/vespa-watch#generate-static-files
- included in the deployment:
https://github.com/inbo/vespa-watch/blob/73a9856fdbcef6e534ebb0c24f5fbb85b062f70f/.ebextensions/01_python.config#L56-L57
- ignored in repo:
https://github.com/inbo/vespa-watch/blob/73a9856fdbcef6e534ebb0c24f5fbb85b062f70f/.gitignore#L130

closing.

[2019-02-21 13:56] #123 closed

[2019-02-21 14:04] stijnvanhoey commented on #187
Todo: make sure placeholders are available for each of the required page fragments

[2019-02-21 14:06] stijnvanhoey commented on #176
@niconoe any suggestions on how to fix this, as I can't test the reporting of new observations due to thiss issue...

[2019-02-25 10:59] niconoe commented on #176
@stijnvanhoey : I just pushed an attempt to fix this. Can you try (you'll need to reinstall requirements since I had to fork `django-imagekit`) and keep me informed?

[2019-02-25 11:05] niconoe commented on #186
When doing so, could you also check the management action modal (to add/edit/delete a management action per nest) still works as expected?

[2019-02-25 13:10] niconoe commented on #182
Thanks, it would be great to have it in some pre-prod environment (dev? uat?) so we can check:

- That #169 works fine once we are in a secure environment
- Generally speaking, that nothing else gets broken (thinking of stuff like AJAX request, CORS, ...)

[2019-03-04 13:57] peterdesmet commented on #2
@niconoe just checked it again and seems all good to me.

[2019-03-04 16:37] peterdesmet opened #190 "Filter on identification_card nest/obs"
@niconoe is there a way to filter on nest vs obs in:

https://github.com/inbo/vespa-watch/blob/d18edf571751a735fdc7957785d9fc25f54ffdf2/vespawatch/templates/vespawatch/obs_create.html#L17

[2019-03-05 17:05] stijnvanhoey commented on #176
@niconoe this is not working, as the deployment on elastic beanstalk is not accepting the format of the `requirement.txt` file:

Any other option?

[2019-03-06 09:02] stijnvanhoey commented on #176
I'm currently trying other alternative options to `git`, cfr. https://pip.pypa.io/en/latest/reference/pip_install/#git

[2019-03-06 09:18] niconoe commented on #176
Seems like a good idea. Do you know why the connection to GitHub fails (while getting packages from PyPI works)? Is there a whitelist of allowed domains in the environment? If so, it might be easier to just (for the moment) allows GitHub here.

Another option could be to include my fork of the package directly in the VespaWatch repo to make the install from a local directory, but that seems even m

[2019-03-06 09:23] niconoe commented on #190
Yup!

`{% if card.represents_nest %}...{% else %}...{% endif %}`

[2019-03-06 09:41] stijnvanhoey commented on #176
Tested on DEV using `git+https` and working. @berthuygens can you let us know if this works in UAT?

[2019-03-06 10:03] berthuygens opened #192 "Error on AddRoleToInstanceProfile operation"
An error occurred (LimitExceeded) when calling the AddRoleToInstanceProfile operation: Cannot exceed quota for InstanceSessionsPerInstanceProfile: 1

[2019-03-06 12:19] stijnvanhoey commented on #176
Tested in DEV and UAT and no longer getting  the thumbnail template error.

[2019-03-06 12:19] #176 closed

[2019-03-06 12:34] stijnvanhoey commented on #81
In the latest setup, django logs are now collected in a separate cloudwatch topic:

![image](https://user-images.githubusercontent.com/754862/53881245-6f74e980-4013-11e9-8433-39246b66fe92.png)

With respect to alerts, we can extend this in two ways:

1. format, using the django formatter in the settings, e.g.

[code]
Any thoughts about the required/preferred setup?

2. create alerts on specific it

[2019-03-06 12:34] stijnvanhoey commented on #28
Done

[2019-03-06 12:34] #28 closed

[2019-03-07 16:54] stijnvanhoey commented on #157
This has certainly improved and the loading icon clarifies the loading. The popup-creation takes a bit longer now, but that's fine to me.

[2019-03-07 16:55] stijnvanhoey commented on #182
The UAT is live: https://uat.vespawatch.be/

[2019-03-07 17:27] stijnvanhoey commented on #157
When checking the loading of the map on firefighters level, the map keeps loading:

![image](https://user-images.githubusercontent.com/754862/53976063-8c3e1980-4106-11e9-8f04-495a2f2593d8.png)

[2019-03-07 17:28] stijnvanhoey opened #193 "Email of username for login?"
Currently, the login provides field for email address and password:
![image](https://user-images.githubusercontent.com/754862/53976142-ba235e00-4106-11e9-8188-aaf441343c39.png)

whereas we use login names for the firefighters accounts only. Should we adapt the setup of accounts or use `user name` instead of `email`?

[2019-03-07 18:40] KarelSchoonvaere commented on #193
Personally I prefer to use both. Can the field be made redundant?

[2019-03-08 08:42] bartaelterman commented on #157
I was expecting some issues with the management map after this refactor. See #186 .

[2019-03-08 09:27] peterdesmet commented on #144
@KarelSchoonvaere @timadriaens as mentioned via email, please complete the info at https://docs.google.com/spreadsheets/d/1vTFlgHWRFmMyRzIgfkhUdLXdHh0At5f0uMrVUAhrqr4/edit?usp=sharing

[2019-03-08 11:11] peterdesmet commented on #193
The moment a firefighter account is used, we will add an email, so they can login with email.

[2019-03-08 11:47] niconoe commented on #193
The system allows of course to configure an e-mail address for each user account, by default Django uses the username/password combination to log users in, and the mail field is just optional information.

Given that and the "email as login" requests, I think what we need to do is:

- [ ] Customize the authentication mechanism so it works with mail/password pairs (in addiiton or in place of the us

[2019-03-08 15:00] #190 closed

[2019-03-13 09:40] stijnvanhoey opened #194 "Internal Server Error: /obs/individual/add/ on DEV/UAT"
When adding a new observation after filling in the form, following error occurred when trying to save:

[code]

(Note: in UAT this results in 500 internal server error with the logs available in clouodwatch as expected.)

[2019-03-15 08:28] bartaelterman commented on #185
I just hit this one as well. I can look into it @niconoe

[2019-03-15 08:42] bartaelterman commented on #194
probably related to #185

[2019-03-15 08:47] bartaelterman commented on #194
It's slightly different, but it's the same variable I'm currently touching for #185 so that will conflict.

[2019-03-15 08:50] niconoe commented on #194
Indeed. Will remove myself so I'm not adding a new conflict on top of a conflict :)

[2019-03-15 09:05] niconoe commented on #169
Works for me in UAT now that HTTPS is in place (tested with recent Firefox, Chrome and Safari - in all cases the browsers asked the permission to share the location first.) Also seems to work fine from stock Android browser.

[2019-03-15 09:21] #157 closed

[2019-03-15 09:22] bartaelterman opened #196 "Check performance of the "see more observations" page"
See #157, which was also performance related.

[2019-03-15 09:51] niconoe commented on #196
Had a quick look:

- Performance seems decent for me
- It uses the old, suboptimal `get_observation` call
- No obvious way to drastically improve performance*

Given that, I'll let it open for a bit if anyone notice an issue please tell it. Otherwise I'll close this soon.

*options if we want to do it anyway:
- use some frontend code with infinite scroll to load them on the fly
- make two pages, o

[2019-03-15 10:17] #194 closed

[2019-03-15 10:18] bartaelterman commented on #185
should be ok now. See a8dba5a

[2019-03-15 10:18] #185 closed

[2019-03-15 10:22] niconoe opened #197 "Models/business logic: "sync-related" things to check"
- [x] That observations created in the app form have the `originates_in_vespawatch` flag set (and if created in the admin, it is also forced to true)
- [ ] check `can_be_edited_or_deleted` and `taxon_can_be_locally_changed`: are they still in use or useful? If not, delete.
- [x] set and push vespawatch_behaviour on 1srt push of our observations (skipped for now, see #98)
- [ ] InatObsToDelete: mak

[2019-03-15 10:39] stijnvanhoey opened #198 "disable inaturalist push for dev/uat"
When deploying the sync operation for DEV/UAT, we should disable the push towards iNaturalist to overcome the possibility to send nonsense observations.

@niconoe add a setting `INATURALIST_PUSH` which is `False` by default unless overwritten in the prd-file

[2019-03-15 10:40] bartaelterman opened #199 "Give feedback when location search could not find a location"
Example:
- type "kleemsburg gentbrugge" in the location search bar
- click "Search"
=> the call returns an empty array but our JS crashes because it looks for an `x` and `y` property.
We should catch that and give the user feedback that the location was not found.

[2019-03-15 10:41] stijnvanhoey commented on #49
tested on UAT, closing.

[2019-03-15 10:41] #49 closed

[2019-03-15 14:54] peterdesmet opened #200 "Translate form labels"
Test if field names are added to `.po.`  files for:

- `models.py`: `verbose_name=_("My text")`
- `models.py`: fields without a verbose name

[2019-03-15 14:55] niconoe commented on #200
...And also test if Crispy forms display the translated strings :)

[2019-03-15 15:02] niconoe opened #201 "Implement a mechanism to flag an observation with warnings"
Like "the corresponding record has been deleted @iNat".

This is now needed for #2 .

[2019-03-15 15:38] peterdesmet commented on #134
@niconoe, can you:

- Remove `observer_is_beekeeper`?
- Update `observer_first_name`, `observer_last_name` to `observer_name`?

[2019-03-15 15:43] peterdesmet opened #202 "How to add placeholder to "comments" field"
I'm also interested how to set the height of the field.

[2019-03-15 16:11] peterdesmet commented on #134
@bartaelterman see issue body: can you set the appropriate fields to mandatory? Not sure whether it is better to do this in `forms.py` or `models.py`, but it can be as default as possible (no custom error messages)

[2019-03-15 16:15] peterdesmet commented on #134
@KarelSchoonvaere I don't remember: does the fire station need the address of the user reporting and/or the address where the nest is located?

[2019-03-15 16:16] peterdesmet opened #204 "Review observation form"
1. All labels translated?
2. Dropdowns ok?
3. Errors regarding mandatory fields ok?

[2019-03-15 16:20] peterdesmet commented on #204
Blocked by https://github.com/inbo/vespa-watch/issues/134#issuecomment-473347093

[2019-03-15 16:21] bartaelterman commented on #174
I've changed the navigation element for the about pages. They now point to the different about pages and the main about page is removed. They all use the `simple_page_fragment.html` template, with a different page fragment id. See d7b041eb5a51ff7c9950727837ac1c2978a3c097

[2019-03-15 16:27] peterdesmet opened #205 "Contact info for individual insect"
@KarelSchoonvaere what contact information do we need for submissions of individual insects? The same as for nest, which is `name`, `telephone`, `email` or is that too much (note that all these fields are mandatory).

[2019-03-15 16:29] bartaelterman commented on #196
I committed db52a7295391966bb0ff81cdab5e278a60098cc1. See the commit messages. Closing this issue for now, but feel free to reopen if something's wrong / not ok.

[2019-03-15 16:29] #196 closed

[2019-03-15 16:32] bartaelterman commented on #134
I'll try to change it in the model. In theory, that's the right place. Those form validation messages are the default django ones. I would have to figure out how to customise them. Do you really want that?

[2019-03-15 17:00] peterdesmet commented on #134
No, no need to customize: I want the default error messages.

[2019-03-17 21:22] bartaelterman commented on #204
The errors are not working on fields that are rendered by Vue components: date and address.

[2019-03-18 08:23] niconoe opened #206 "Edition of pushed observation in Admin"
In the admin section, after pushing an observation to iNaturalist, it's not possible anymore to edit the observation (good) but it's still possible to add pictures (should also be disabled).

Also, it's always possible to add warnings to Observations in the admin. Shouldn't this be always read only (regardless of the push status).

[2019-03-18 08:37] peterdesmet commented on #206
What do you mean with "warnings"?

[2019-03-18 08:39] niconoe commented on #206
There's now a mechanism to flag a certain observation (with a message and date/time) in the database. This is needed for #2 so we can flag edge cases for manual review.

[2019-03-18 08:46] peterdesmet commented on #103
See #207

[2019-03-18 08:51] peterdesmet commented on #98
@KarelSchoonvaere the user can only select one behaviour field.

@niconoe, can you preload these in the database:

- hunting at beehive
- drinking nectar on flower
- near wood source
- near water source
- flying
- captured
- dead
- other

[2019-03-18 08:57] niconoe commented on #98
I guess this new field will appear on the report observation form? Is it mandatory?

[2019-03-18 09:09] bartaelterman commented on #98
Isn't this about [this field](https://github.com/inbo/vespa-watch/blob/master/vespawatch/models.py#L549)

[2019-03-18 09:19] niconoe commented on #98
okay, I forgot it was already there. Obviously it's for individuals only.

[2019-03-18 09:21] niconoe commented on #98
@peterdesmet : so this replaces the current values: `Fouraging`, `Hunting at hive`, `At flower`, `Other`?

[2019-03-18 09:26] niconoe opened #208 "Check/fix all the #TODO comments in codebase"

[2019-03-18 09:33] niconoe commented on #201
Done in the `new_sync` branch.

[2019-03-18 09:35] #201 closed

[2019-03-18 12:03] stijnvanhoey opened #209 "`/identification` bug on UAT"
Current UAT has a template error: `ERROR 2019-03-18 12:59:53,706 log 3933 140428314314496 Internal Server Error: /identification`

Traceback:
[code]

[2019-03-18 12:22] #209 closed

[2019-03-18 12:23] bartaelterman commented on #209
@stijnvanhoey I found a typo. Hope that helps?

[2019-03-18 12:33] stijnvanhoey commented on #209
fixed, thanks!

[2019-03-18 12:52] peterdesmet commented on #98
Yes

[2019-03-18 13:24] niconoe commented on #139
Status:

- [x] creating an `inat_vv_field` at the model level (done in the `new_sync` branch)
- [ ] make sure that flag is properly set by the synchronization script (will be done in the `new_sync` branch)
- [ ] show validated nests to fire brigade: for milestone 2

[2019-03-18 20:33] bartaelterman commented on #134
@peterdesmet I'll wait for Karel's input on this one. Is there also a list like this for Individuals? If the field is required for both, I can indicate it on the model. If it is only required for a nest, I have to indicate that on the form.

[2019-03-19 10:05] peterdesmet commented on #168
It's fine. I have used `if` in the `identification_card` template:

https://github.com/inbo/vespa-watch/blob/66c3ff8f0fdd78748e5cc4a819e0d2da6b50f65a/vespawatch/templates/vespawatch/includes/identification_card.html#L6-L10

[2019-03-19 10:05] #168 closed

[2019-03-22 10:02] peterdesmet opened #210 "Obs on homepage do not show photo"
@bartaelterman I believe obs photos are now loaded via JS? This works fine on the obs page, but not on the homepage. Probably a script that is not loaded?

[2019-03-22 16:05] peterdesmet opened #211 "Add favicon"

[2019-03-23 12:37] bartaelterman commented on #210
hmm... works for me. Have you tried rebuilding the JS and running private mode to have the browser cache disabled?

[2019-03-24 10:13] stijnvanhoey commented on #81
discussed and tackled during last sprint, see faec71869ecccfbe746d2058d8d038ca42b2ae0f

[2019-03-24 10:13] #81 closed

[2019-03-24 10:18] stijnvanhoey opened #212 "observations overview during inaturalist sync"
The current sync with inaturalist takes a couple of minutes and these observations are not visible on the website during the synchronization. This confuses the user... Should be taken into account for the new sync operation (make sure the replacement itself of the observations is fast, only overwrite when necessary,...).

[2019-03-24 10:19] stijnvanhoey commented on #192
This error occurs when the role is linked to instanceprofile twice, but will not influcence the setup. closing

[2019-03-24 10:19] #192 closed

[2019-03-25 07:22] stijnvanhoey commented on #212
Notice also the amount of traffic the update of observations currently takes:

![image](https://user-images.githubusercontent.com/754862/54901558-1d6b0980-4ed7-11e9-96e7-9b9bb63c910e.png)

[2019-03-25 07:54] stijnvanhoey commented on #210
deployment (see uat.vespawatch.be) of latest master is resulting in missing images, I checked the logs:

[code]

[2019-03-25 08:08] bartaelterman commented on #210
@stijnvanhoey it's a `403: Forbidden`. So I guess the user doesn't have access to the bucket? I don't know how the credentials are managed. I assume we have an instance profile attached to the machine?  Is it attached correctly with the right permissions?

[2019-03-25 08:10] bartaelterman commented on #212
We're downloading the images, so I think it's ok to see this amount of traffic the first time. However, after that I would expect it to decrease drastically. We'll look into it when resolving #2

[2019-03-25 08:11] bartaelterman commented on #212
Also, @stijnvanhoey I'm not sure what you mean with `this confuses the user`. I mean, I understand your sentence, but what exactly is confusing? Maybe we should pick this up on a next meeting.

[2019-03-25 08:16] stijnvanhoey commented on #212
Well, with _confuses_ I mainly think that it is strange for a user that in those 15 minutes the `latest` observations are continuously changing on page refresh or changing pages.

With respect to the download, I do think this should be taken into account while tackling #2 as currently there is no decrease in download in between sync.

[2019-03-25 08:20] stijnvanhoey commented on #210
Indeed, wrongly managed reference to S3 bucket during latest deployment. My mistake.

[2019-03-26 08:52] peterdesmet opened #213 "JS error: translated api call?"
On the Dutch version of my local vespawatch I get the JS error:

[code]

The `url` seems translated (`individus`) where it should be. Will have to see if this occurs on production.

[2019-03-26 09:39] stijnvanhoey opened #214 "Narrow scope of observations in map to vespa velutina"
Currently, the map also show the European hornet. As noticed by @KarelSchoonvaere, we agreed to have only the vespa velutina as observations in the map.

(For the latest observations, we still show all observations so freshly added are directly shown on the website).

[2019-03-26 10:10] stijnvanhoey opened #215 "Add compilemessages command to deployment"
In order to make sure the language translations are properly created, we need an additional command during AWS deployment:

[code]

To make this work, we have an additional dependency:

[code]

This boils down to adding the command in [config](https://github.com/inbo/vespa-watch/blob/master/.ebextensions/01_python.config#L50) and `gettext`
 as dependency in [package config](https://github.com/inbo

[2019-03-26 10:20] stijnvanhoey commented on #215
@berthuygens I fixed the language issue and tested succesfull on uat. Can you redeploy (`eb deploy`) to production? Thanks!

[2019-03-26 10:46] peterdesmet commented on #144
Species have been added.

[2019-03-26 10:46] #144 closed

[2019-03-26 10:48] stijnvanhoey opened #217 "Changing language on report-page not possible"
The switch en <-> nl is not possible on the `obs/add` report page (but works fine on the homepage)

[2019-03-26 10:54] stijnvanhoey opened #218 "Latest observations on bottom of page are older than the observations on overview page"
When looking at the current homepage:

![image](https://user-images.githubusercontent.com/754862/54991592-8f1d8300-4fbd-11e9-9196-248026ddc30c.png)
latest observation shown is 2018-10-12, whereas the real latest observation is 2019-03-19. It seems the latest observation is even older than the observations in https://vespawatch.be/obs/

[2019-03-26 10:57] peterdesmet commented on #134
Reviewed with @KarelSchoonvaere, this can be tackled now. I'll create separate issues for the field changes.

[2019-03-26 10:58] peterdesmet opened #219 "Remove is_beekeeper"
Remove `is_beekeeper` field from observation (nest and individual) model. We don't need this information.

[2019-03-26 10:59] peterdesmet opened #220 "Join firstname + lastname to observer_name"
Rather than having `firstname` and `lastname` create a field `observer_name` in the model. The migration can join the information of the two.

[2019-03-26 11:01] peterdesmet opened #221 "Add help text for nest comments field"
@KarelSchoonvaere will provide some help text for the nest comments/description field:

Our original note said: pre-filled with suggestions, such as nest is inside/outside, easily accessible or not, hours/weekday firefighters could come for eradication, associated plant species, ...

Rather than pre-filling the field, I would add a help text below, so it is always visible.

[2019-03-26 11:02] peterdesmet opened #222 "Size photos for about pages"
Size photos for about pages to `72dpi` and max width of `2000px`. Images that will be smaller (e.g. in tip-cards can be `600px` wide)

[2019-03-26 11:06] peterdesmet opened #223 "Cannot add push/pull ids for taxa"
It should be possible to edit `Inaturalist pull taxon ids` and `Inaturalist push taxon id` in the admin interface. That is currently not possible:

<img width="592" alt="Screenshot 2019-03-26 at 12 04 46" src="https://user-images.githubusercontent.com/600993/54992400-7c0bb280-4fbf-11e9-89b4-41de832f6f75.png">

As a result, many observation cannot be pushed to iNat.

[2019-03-26 11:07] peterdesmet commented on #169
Doesn't seem to work for me in production.

[2019-03-26 11:09] peterdesmet opened #224 "Remove fields from taxon model"
We no longer need the following fields for taxa. They can be removed:

- `Identification picture individual`
- `Identification picture nest`
- `Identification priority`

[2019-03-26 11:11] stijnvanhoey commented on #169
Works for me in prd

[2019-03-26 11:14] peterdesmet opened #225 "Update pagefragment slugs"
Use easier, consistent names

[2019-03-26 12:36] peterdesmet opened #226 "Don’t require s3 auth key for images"
If you upload an image in page_fragments, it generates a very long url with an authentication key. Is it possible to create shorter urls without auth key?

[2019-03-26 12:46] peterdesmet commented on #225
Tackled in https://github.com/inbo/vespa-watch/commit/61742763180c3c681a32a8f552d09ffb61fc1acd, but will result in broken links on production. Can be fixed by updating page fragment names:

[code]

[2019-03-26 12:57] peterdesmet opened #227 "Images on identification cards sometimes not shown as square"

[2019-03-26 12:59] peterdesmet opened #228 "Update colours of identification cards"
- [x] V.v. nest: green
- [x] V.v. individual: orange
- [x] Other species: white

[2019-03-26 13:22] peterdesmet opened #229 "Images in page_fragments are automatically resized"
Images that are drag/dropped into page_fragments get automatically resized to 72dpi (good) and resized to max 500px (not good: would prefer a bit wider). @niconoe where is this setting defined?

[2019-03-26 13:26] peterdesmet opened #230 "Remove activities page"
Will link to honeybee valley from homepage

[2019-03-26 14:08] peterdesmet commented on #227
CSS is now set in d8357108aafc44ed0973a030538c37a989d147bb

[2019-03-26 14:36] peterdesmet opened #231 "Use cards for getinvolved and identification"
[code]

[2019-03-26 14:50] #225 closed

[2019-03-26 15:21] peterdesmet opened #232 "What is js_config_object"
@niconoe what is this:

https://github.com/inbo/vespa-watch/blob/0e1a68cd202964a4bcf2b10cc5beac3db433d3a5/vespawatch/templates/vespawatch/base.html#L14-L16

If required, can that JS code be moved to the bottom of the template, like all JS scripts?

[2019-03-26 15:26] peterdesmet commented on #211
Should be done in https://github.com/inbo/vespa-watch/commit/09fc3feb641241658ab4b8f245020d7843b42849

[2019-03-26 15:27] peterdesmet commented on #82
Everything has been translated.

[2019-03-26 15:27] #82 closed

[2019-03-26 15:28] peterdesmet commented on #154
About page have been added and are being updated.

[2019-03-26 15:28] #154 closed

[2019-03-26 15:29] peterdesmet commented on #156
Footer added in https://github.com/inbo/vespa-watch/commit/1c212cd77dae4246c5b1088800105317d21d5bf2

[2019-03-26 15:29] #156 closed

[2019-03-26 16:05] peterdesmet commented on #230
Fixed in production.

[2019-03-26 16:05] #230 closed

[2019-03-26 16:08] peterdesmet commented on #174
Done.

[2019-03-26 16:08] #174 closed

[2019-03-26 16:08] peterdesmet commented on #160
Is added in footer.

[2019-03-26 16:08] #160 closed

[2019-03-26 16:09] peterdesmet commented on #182
Is done.

[2019-03-26 16:09] #182 closed

[2019-03-26 16:09] peterdesmet commented on #187
Page fragments are being used.

[2019-03-26 16:09] #187 closed

[2019-03-26 16:11] peterdesmet commented on #210
They load in production.

[2019-03-26 16:11] #210 closed

[2019-03-26 17:50] peterdesmet opened #233 "Add identif_card image on top on small screens"
Is currently always displayed next to image, but that doesn’t make sense on very small screens.

[2019-03-26 17:53] peterdesmet commented on #231
@KarelSchoonvaere can you notify me if this is done? Then i can review if the style is ok.

[2019-03-26 17:58] peterdesmet commented on #215
Is fixed in production.

[2019-03-26 17:58] #215 closed

[2019-03-26 17:59] peterdesmet commented on #214
I think is now fixed, because the scope of the inat project is now Vespa velutina in Belgium only.

[2019-03-26 17:59] #214 closed

[2019-03-26 20:56] bartaelterman commented on #218
bug found. That solves it locally. Hopefully also resolved on other environments @stijnvanhoey ?

[2019-03-26 21:01] bartaelterman commented on #223
They are explicitly set to `readonly` in [the admin file](https://github.com/inbo/vespa-watch/blob/master/vespawatch/admin.py#L16). Any idea why? It's quickly removed but might be good to think twice.

[2019-03-26 21:08] bartaelterman commented on #229
@peterdesmet can you try adding the [MARKDOWNX_IMAGE_MAX_SIZE](https://neutronx.github.io/django-markdownx/customization/#markdownx_image_max_size) to the [base settings file](https://github.com/inbo/vespa-watch/blob/master/djangoproject/settings/base.py)? I haven't tested it myself. Hope this helps

[2019-03-26 21:15] bartaelterman commented on #232
It's a custom template tag, used to read some values from the settings and make them available to the JS: https://github.com/inbo/vespa-watch/blob/master/vespawatch/templatetags/custom_tags.py

[2019-03-26 22:21] peterdesmet commented on #218
Rather than closing, it's better to add label `to test` to verify it is solved in production.

[2019-03-26 22:25] peterdesmet commented on #223
I do not know why, but if they are changed the worst that would happen is:

- Pushed to iNaturalist with new species => new (wrong) identification added. Can be reverted.
- Pulled from iNaturalist as a species that is not recognized => New sync will flag them as `taxon not in list`

So I don't see much harm.

[2019-03-27 08:19] bartaelterman commented on #223
Done. Beware that pull taxon ids is a comma separated list

[2019-03-27 08:19] #223 closed

[2019-03-27 12:03] peterdesmet commented on #223
Ok, missing ids are now added in production.

[2019-03-27 12:07] peterdesmet opened #234 "Obs of 19 March not pulled with photo"
The latest observation of 19 March 2019 has a photo on iNaturalist (https://www.inaturalist.org/observations/21414496) but not on the website (https://vespawatch.be/obs/). Any idea what caused this (file permissions, etc.)?

[2019-03-27 13:13] stijnvanhoey commented on #234
The strange thing is that this is different for the english versus the dutch translation? Can you verify that on the english version the photo actually is shown?

[2019-03-27 13:14] peterdesmet commented on #234
Indeed, correct. 🤔

[2019-03-27 13:15] peterdesmet commented on #234
Pretty sure it is related to https://github.com/inbo/vespa-watch/issues/213

[2019-03-27 13:18] peterdesmet commented on #234
Only occurs for individuals, not nests

[2019-03-27 14:01] #234 closed

[2019-03-27 14:01] peterdesmet commented on #213
Tackled, should be tested in production.

[2019-03-27 14:03] peterdesmet commented on #234
Tackled, will be tested in production for #213.

[2019-03-27 14:04] stijnvanhoey commented on #213
updating...

[2019-03-27 15:15] peterdesmet commented on #213
Fixed.

[2019-03-27 15:15] #213 closed

[2019-03-27 16:55] stijnvanhoey commented on #226
fixed by #235

[2019-03-27 16:55] #226 closed

[2019-03-28 14:27] peterdesmet opened #236 "Detect current position"
@KarelSchoonvaere notified me that "detect current position" does not show the correct place. For me (@peterdesmet) it doesn't work at all.

[2019-03-28 14:28] peterdesmet opened #237 "Detect location based on photo"
@KarelSchoonvaere asked if the location of the observation can be detected from the geotag of the photo. That would be neat indeed.

[2019-03-28 14:34] peterdesmet commented on #228
Done.

[2019-03-28 14:34] #228 closed

[2019-03-28 14:34] peterdesmet commented on #218
Seems solved.

[2019-03-28 14:34] #218 closed

[2019-03-28 14:35] #211 closed

[2019-03-28 14:35] peterdesmet commented on #229
Done in https://github.com/inbo/vespa-watch/commit/a89bc6da6924b5dc50f77bee3ec7ab1ee60c37cf

[2019-03-28 14:35] #229 closed

[2019-03-28 14:36] #227 closed

[2019-03-28 14:36] peterdesmet commented on #222
This will be done automatically, see #229

[2019-03-28 14:36] #222 closed

[2019-03-28 15:01] peterdesmet commented on #200
Should be done in https://github.com/inbo/vespa-watch/commit/ad6867cdec901d8073fa241d0f9e8ab2df745d43

[2019-03-28 15:02] peterdesmet commented on #204
1. Should be now done in #200

[2019-03-28 15:14] timadriaens commented on #237
indeed, it is standard in iNaturalist and it helps us validating or flagging dubious records in case someone uploads a false observation with a picture they found online somewhere.

[2019-03-28 15:16] timadriaens commented on #236
It does work on my laptop both for nests and individuals, but indeed does not work on my samsung galaxy.

[2019-03-28 16:56] KarelSchoonvaere commented on #237
From my experience most pictures take by observers do not have geo-tags (unless my outlook removes the tags). But good point Tim

[2019-03-28 17:07] timadriaens commented on #237
Unless they use their smartphone...

Op do 28 mrt. 2019 17:56 schreef KarelSchoonvaere <notifications@github.com

[2019-03-28 19:46] bartaelterman commented on #236
Can we mark this as a duplicate of #169 ?

Also, this is a functionality where we have very limited control. We merely rely on the browsers implementation of the geolocation API. I don't think we'll be able to fix this for all browsers / all devices.

[2019-04-01 17:28] timadriaens commented on #169
Does not work on my samsung, cannot put placemark on the map and any location or city typed in consistently returns Hasselt as a placemark. probably need to try and solve this before launch & press release since journalists will try it on their phones.

[2019-04-01 17:48] KarelSchoonvaere commented on #169
Works perfectly on my android at Bruges train station using chrome browser. Though there was an interactive message popping up asking me if I wanted to share my location which I accepted.

Btw: first citizen record of a Polistes wasp on the homepage! But link to iNaturalist is not working, so I am unable to navigate via the vespawatch website...

[2019-04-01 18:05] KarelSchoonvaere opened #238 "Link from latest observation to iNaturalist not working"
The latest observation of a wasp is presented on the homepage but remains with status "not yet synchronized" instead of having the link to iNaturalist. On iNaturalist I can't find the observation.

[2019-04-01 18:25] peterdesmet commented on #238
That is because observations are not yet pushed to iNaturalist (only pulled). They will once that is implemented. @bartaelterman, any idea when you’ll be able to pick this up?

[2019-04-02 06:58] mh-webops commented on #169
@KarelSchoonvaere I see the individual is marked as _To be synchronized_ which means there is no observation on iNaturalist yet. Could that be correct?
@timadriaens I also have a samsung. The first time I tried to record an observation, the app needed permission to access my location, I had to turn on my GPS, had to provide access again and when all that was done, nothing happened indeed. Having m

[2019-04-02 06:59] bartaelterman commented on #169
@KarelSchoonvaere I see the individual is marked as To be synchronized which means there is no observation on iNaturalist yet. Could that be correct?
@timadriaens I also have a samsung. The first time I tried to record an observation, the app needed permission to access my location, I had to turn on my GPS, had to provide access again and when all that was done, nothing happened indeed. Having my

[2019-04-02 07:11] stijnvanhoey commented on #169
I would indeed not pt additional implementation effort in the location-service, but providing documentation to the users on (1) supported OS/browsers and/or (2) gps-location on smartphone + refresh.

[2019-04-04 20:06] bartaelterman commented on #238
I'll work on this issue next Thursday.

[2019-04-04 20:20] bartaelterman opened #239 "Report link at about/vespa-velutina does not work"
- go to [https://vespawatch.be/about/vespa-velutina/](https://vespawatch.be/about/vespa-velutina/)
- scroll all the way down
- click the link `Report` in the last paragraph.
- the link points to `about/obs/add/` but the `about` should be removed from that link.

I also noticed we have a trailing slash issue here. It's a best practice to define all urls with trailing slash in the `urls.py` files. I

[2019-04-05 11:38] peterdesmet commented on #239
Corrected in text. Leaving open for you to fix trailing slashes.

[2019-04-09 19:26] timadriaens commented on #204
@peterdesmet @bartaelterman still no luck recording on my phone, can't pintpoint a location on the map. Tried it on my laptop:

- can't pintpoint a location (eg y double clicking) on the map in google chrome, the 'current location' button does work and I can then move the dot to the place I want to record for but this is not ideal nor intuitive
- internet explorer does not display the map under 'l

[2019-04-12 14:18] peterdesmet commented on #103
To be tested again.

[2019-04-25 14:59] bartaelterman opened #241 "Loading of static files is very slow"
I have the impression that loading static files on the production environment is very slow. After inspecting the network tab in my browser, I notice there is a difference between images and other static files (javascript files).
The images are clearly hosted on s3, they have locations like `https://lw-vespawatch-prd.s3.amazonaws.com/media/markdownx/599cf419-f155-4c86-8701-e605edd5ef3e.jpeg`.
The j

[2019-04-25 21:03] stijnvanhoey commented on #241
@bartaelterman thanks for checking this. I can certainly adapt the setup to make sure the static files are hosted on AWS S3 as well.

[2019-04-26 08:10] peterdesmet opened #242 "Dropdown + some fields not translated"
- [x] Behaviour
- [ ] Behaviour dropdown
- [x] Individual count
- [x] Comments

[2019-04-26 08:12] peterdesmet opened #243 "Error on terms of service"
Reported and confirmed. When submitting an observation as a non-logged-in user, the submission fails with the error:

<img width="457" alt="Screenshot 2019-04-26 at 10 10 52" src="https://user-images.githubusercontent.com/600993/56793168-9ed1f680-680b-11e9-8fcb-ee5b119a9dbe.png">

Even if when the terms of service where accepted.

This blocks users from submitting observations.

[2019-04-26 09:20] bartaelterman commented on #243
@peterdesmet pushed a fix. Can you test?

[2019-04-26 12:25] peterdesmet commented on #242
Everything but the dropdown is now fixed

[2019-04-26 12:30] peterdesmet commented on #243
Updated in production: the field now appears twice:

<img width="363" alt="Screenshot 2019-04-26 at 14 25 44" src="https://user-images.githubusercontent.com/600993/56807482-44e32800-682f-11e9-8da5-955cf0a54205.png">

1. Selecting neither results in the expected warning.
2. Selecting **just one** resulted in `504 Gateway Time-out` screen, but the obs was created successfully
3. Selecting **both** r

[2019-04-26 12:34] peterdesmet opened #244 "Submitting form without info results in 500 error"
Submitting an empty nest or submission form results in:

Expected: a warning on which fields are mandatory.

[2019-04-26 12:45] bartaelterman commented on #243
new fix pushed

[2019-04-26 12:51] bartaelterman commented on #244
I cannot reproduce this locally. There I get the expected behaviour. I'm wondering whether this is related to something you just mentioned: some fields are rendering very slow because loading static files is slow (#241). Maybe this only happens when you submit a form before all fields are loaded.
I'll see if we can catch that somehow, but the issue might be gone after resolving #241

[2019-04-26 13:10] peterdesmet commented on #241
I'm getting a lot of timeouts on the website, so we should fix this soon.

[2019-04-29 08:51] niconoe commented on #241
Hi again! Just a few comments:

- I encounter those speed issues/timeout, too.
- It would indeed be much better in production to load the static files from S3.
- That being said, I think there's another issue in this environment. Django is considered slow to serve static files but we shouldn't feel under a much higher load (10s to 100s of simultaneous users).

@stijnvanhoey / @berthuygens : To ser

[2019-04-29 09:20] niconoe commented on #244
Cannot reproduce neither. @peterdesmet: if that happens locally, could you copy-paste the details of the error 500 (either from the error page, or from the Django runserver console)?

[2019-04-29 09:26] niconoe opened #245 "Losing URL parameters when the form validation fails"
When going to the submission from the taxon selection page, we have an URL like `/obs/individual/add/?card_id=3&redirect_to=index`.

After submitting the form with errors/missing fields, the `card_id` and `redirect_to` parameters are lost. I guess this can lead to errors, and may be related to #244.

[2019-04-29 09:36] niconoe commented on #242
The values for the behaviour dropdown are now translatable (in the .po file, usual method).

[2019-04-29 09:46] #239 closed

[2019-04-29 10:07] #98 closed

[2019-04-29 10:11] peterdesmet commented on #244
Closing, probably related to AWS issues.

[2019-04-29 10:11] #244 closed

[2019-04-29 10:18] niconoe commented on #232
As @bartaelterman sayed! It sets configuration used by... many different pieces of the puzzle. So:

- You can try moving it to the bottom of the template if you prefer
- But make sure it appears before any other piece of JS code
- And test extensively that nothing is broken on the frontend side afterwards (Vue components for example)

[2019-04-29 14:20] timadriaens opened #246 "visualize photo when uploading an image"
Hi, current webform does only show a file name when an image is uploaded. I would be more user friendly to show a thumbnail of the uploaded image. Is this possible?

[2019-04-29 14:22] peterdesmet commented on #246
I agree, would be nice.

[2019-04-29 14:44] niconoe commented on #237
Can also work for time!

[2019-04-29 14:48] stijnvanhoey commented on #241
@niconoe for the moment the website timeout issues are due to reverse proxy settings at INBO level and @berthuygens is checking this out.

[2019-04-30 08:22] peterdesmet opened #247 "LC_MESSAGES directory twice"
@niconoe, what is the difference between:

- [`locale/nl/LC_MESSAGES`](https://github.com/inbo/vespa-watch/tree/master/locale/nl/LC_MESSAGES)
- [`djangoproject/locale/nl/LC_MESSAGES`](https://github.com/inbo/vespa-watch/tree/master/djangoproject/locale/nl/LC_MESSAGES)

Are both needed?

[2019-04-30 09:09] niconoe opened #249 "Update Django to 2.2"
2.2 has long-term support (3 years), and from the development point of view the changes should be minimal.

@stijnvanhoey : any concern/objection from the ops point of view?

[2019-04-30 09:17] niconoe commented on #247
Doesn't seems strange to me: one is global (to the Django project) for global things such as settings file, while the other is specific to the VespaWatch Django app.

I'll however keep it open so I'll have a second look to see if we can configure the thing to have a single one.

[2019-04-30 09:21] peterdesmet commented on #247
👍 it looks a bit odd in root, that's all.

[2019-05-01 08:58] stijnvanhoey commented on #249
No specific issues should be coming from the ops, we're running Python 3.6 and taking in the `requirement.txt` file as it comes.

[2019-05-06 12:47] stijnvanhoey opened #251 "site.webmanifest file blocked by CORS policy"
On current UAT/PRD, the followng error occurrs in the console:
[code]
@berthuygens could this be anything specific on settings of the RP or is this a pure S3 issue?

[2019-05-06 19:13] peterdesmet commented on #243
Now ok in production.

[2019-05-06 19:13] #243 closed

[2019-05-06 19:14] peterdesmet commented on #241
Addressed in #250 and much faster now.

[2019-05-06 19:14] #241 closed

[2019-05-06 19:15] peterdesmet commented on #205
These fields are currently there, but not mandatory. @KarelSchoonvaere is that ok?

[2019-05-06 19:17] peterdesmet commented on #103
For nest, * still missing on:

- First name, last name (but see #220)

For individual, * still missing on:

- Lat
- Long
- Address

[2019-05-06 19:19] peterdesmet commented on #200
Is done.

[2019-05-06 19:19] #200 closed

[2019-05-06 19:20] peterdesmet commented on #231
To review:

https://vespawatch.be/identification/
https://vespawatch.be/get-involved/

[2019-05-06 19:23] peterdesmet commented on #172
This is already the case.

[2019-05-06 19:23] #172 closed

[2019-05-07 07:24] peterdesmet commented on #205
Closing here, will be addressed in https://github.com/inbo/vespa-watch/issues/134.

[2019-05-07 07:24] #205 closed

[2019-05-07 07:40] #242 closed

[2019-05-07 08:42] KarelSchoonvaere commented on #134
@peterdesmet voor nest meldingen is het belangrijkste dat de melder kan gecontacteerd worden door het aangewezen team van de brandweer en dat de exacte locatie of adres van het nest al is doorgegeven. Het adres van de melder is irrelevant. In vele gevallen zal dit niet overeenkomen met de locatie van het nest.

**Nest**
- Locatie adres wordt automatisch ingevuld op basis van de coordinaten, deze f

[2019-05-07 08:47] KarelSchoonvaere commented on #134
Huidig wordt de melder beperkt om maar 2 foto's op te laden. Waarom is dit? Bij voorkeur zijn het aantal foto's ongelimiteerd

[2019-05-07 08:49] peterdesmet opened #252 "Allow upload of multiple photos"
Originally reported by @KarelSchoonvaere at https://github.com/inbo/vespa-watch/issues/134#issuecomment-489992220. See also #96 (dropzone) and #246 (visualize photo).

[2019-05-07 08:52] KarelSchoonvaere commented on #134
Schrijffout in meldingsformulier individu Aziatische hoornaar:
veld "Aantal individuën", individuen zonder trema

[2019-05-07 09:08] KarelSchoonvaere commented on #134
In meldingsformulier individu AH staan de veldopties voor het veld "Gedrag" nog Engelstalig.

[2019-05-07 09:10] KarelSchoonvaere commented on #134
In het meldingsformulier nesten AH moet je foto's opnieuw uploaden na een foutmelding (mandatory field niet ingevuld). Kan dit ingesteld worden dat de eerder geselecteerde foto's in het formulier blijven?

[2019-05-07 09:22] KarelSchoonvaere commented on #134
When reporting an individual there's a problem with finding a query address.
When I neglect "Decteer huidige positie" but fill in "Zomergem" and click on "Zoek". Than the coordinates and pin on the chart are set to my current position and not to the coordinates of Zomergem. When I click "Zoek" a second time, then the coordinates of Zomergem are found and the pin is pointed at the correct location.

[2019-05-07 09:49] peterdesmet opened #253 "User has to reupload photos if form fails"
Originally reported by @KarelSchoonvaere at https://github.com/inbo/vespa-watch/issues/134#issuecomment-490000342. Ideally uploaded photos are kept.

[2019-05-07 09:52] peterdesmet commented on #169
Reported by @KarelSchoonvaere:

When I neglect "Decteer huidige positie" but fill in "Zomergem" and click on "Zoek". Than the coordinates and pin on the chart are set to my current position and not to the coordinates of Zomergem. When I click "Zoek" a second time, then the coordinates of Zomergem are found and the pin is pointed at the correct location.
When I first click "Decteer huidige positie"

[2019-05-07 09:52] peterdesmet commented on #134
@KarelSchoonvaere I'm addressing your comments in separate issues

Typo individuals fixed in df1ab4a
Values for dropdown fixed in 4329d31
Re-upload foto's: reported as #252
Position detection: added to #169

[2019-05-07 10:02] timadriaens opened #254 "putting location marker on the map by simple double clicking"
Hi, currently it seems only possible to move the dot cursor on the map in order to specify a location on the map. This is not handy since one has to zoom in to find the location but then the dot is no longer visible. Is it possible to ensure people can zoom to whatever level they want and then put the location marker there by clicking (once or double)? Probably the observation form also needs to e

[2019-05-08 13:22] peterdesmet opened #258 "Catch unknown taxon on frontend"
If unknown taxon, show the inaturalist taxon on the frontend. Note: this will only be the scientific name, not the vernacular name.

[2019-05-08 21:18] bartaelterman commented on #197
Closing this one. Most of it is covered in #2

[2019-05-08 21:18] #197 closed

[2019-05-08 21:20] bartaelterman commented on #103
Since there is issue #134 now, this issue is obsolete.

[2019-05-08 21:20] #103 closed

[2019-05-10 13:39] peterdesmet opened #260 "Description not updated on sync"
Description for nest and individual does not get updated when it has changed at iNat.

[2019-05-10 13:42] peterdesmet opened #261 "Switch vespawatch_evidence has no effect on sync"
On iNat, I have updated the `vespawatch_evidence` from individual to nest (https://www.inaturalist.org/observations/24777923) and vice versa (https://www.inaturalist.org/observations/24777924), but don't see anything changing in vespawatch (both remain the object they were originally).

[2019-05-10 14:03] peterdesmet opened #262 "Document remaining sync tests"
To test #240, I am working with the real iNat api. Here's an overview of the status of the [sync tests](https://github.com/inbo/vespa-watch/blob/new_sync/vespawatch/tests/sync.py) that I've run an equivalent real-life scenario of:

- [x] `test_sync_push_new_individual`: ok, creating works fine
- [x] `test_sync_push_new_nest`: ok, creating works fine
- [x] `test_sync_push_deleted_indiv`: ok, gets d

[2019-05-10 14:18] peterdesmet commented on #261
My mistake, on new sync everything looks ok. Still need to test final one.

[2019-05-10 14:24] peterdesmet commented on #261
Tested, looks ok. Sorry I doubted you 😊

[2019-05-10 14:31] peterdesmet opened #263 "Remove flags once resolved"
The sync will add flags to observations. I wonder if they get removed once these are resolved. E.g. I noticed that the flags `individual at inaturalist` for a nest doesn't get removed once it's back a nest.

[2019-05-10 14:47] bartaelterman commented on #261
😅

[2019-05-10 14:49] peterdesmet opened #264 "Changing species on iNat doesn't revert back on sync"
1. https://www.inaturalist.org/observations/18426108: is a Vespa velutina ✅
2. Sync  ✅
3. Change at iNat to Vespa crabro ✅
4. Sync: updated to `Vespa crabro`, gets flag `not in vespawatch project` 👌  ✅
5. Change at iNat back to Vespa velutina ✅
6. Sync: not updated to `Vespa velutina` ✅

Are records with flags not updated?

[2019-05-10 14:54] bartaelterman commented on #264
They should. Nice catch.

What happens to the `inaturalist_species` field?

[2019-05-10 15:00] peterdesmet commented on #264
It's empty

[2019-05-10 15:01] bartaelterman commented on #264
Also after step 4?

At that point, the taxon is not known so the `inaturalist_species` field should be filled in then.

[2019-05-10 15:06] peterdesmet commented on #264
Both species are known in my local db. Only checked the field at step 4: it's currently empty.

[2019-05-13 07:43] niconoe commented on #263
I'd argue **not** removing them for now (making them "logs" rather than flags) has at least two advantages:

- simplicity
- traceability (might be important since we'll only see the sync mechanism in real-life soon)

Of course, we can revisit later if needed, in the idea of acting on confirmed issues, not potential ones :)

[2019-05-17 07:13] peterdesmet commented on #263
Ok to leave them as is for the first deployment and revisit later.

[2019-05-17 12:45] peterdesmet commented on #134
@niconoe, this issue has the highest priority imo.

[2019-05-17 13:52] stijnvanhoey opened #265 "django 2.2.1 results in gdal error"
The latest update of django to 2.2.1 results in an error using gdal:
[code]
See also: https://stackoverflow.com/questions/55877882/beanstalk-migration-failing-for-geodjango

@niconoe is it ok to temprary reverse back to 2.1.8 or do we have a temporary fix available?

[2019-05-18 07:30] KarelSchoonvaere opened #266 "automatic coordinates lookup"
I don't know if this issue is known or relates to any previous issues. Currently 3 reports on vespawatch (not iNaturalist) have the location address but no coordinates assigned. That'll probably give issues when synchronizing with iNat as there coordinates are needed to assign a location. Correct me if I am wrong.

Were there intentions to have an automatic lookup of the coordinates that belong to

[2019-05-21 08:15] stijnvanhoey commented on #265
reversed and working

[2019-05-21 08:15] #265 closed

[2019-05-21 09:26] stijnvanhoey opened #268 "Corrected observation by iNaturalist community not updated"
We have currently on the homepage an observation (not vespa velutina):
![image](https://user-images.githubusercontent.com/754862/58081222-f66a4480-7bb4-11e9-8ba2-28114d8a6c81.png)

Although the community has corrected/changed the observation in the meanwhile:
![image](https://user-images.githubusercontent.com/754862/58081302-20236b80-7bb5-11e9-911f-579fee8483ef.png)

@bartaelterman and @peterdesme

[2019-05-21 13:47] timadriaens commented on #268
the observation is not yet set on research grade in Inaturalist because you need a species (not family level) for that. So isn't it normal that it can't be synced? I've suggested the species id. I think it need not be a problem necessarily for the launch, as the idea is also to stimulate contributors to join iNaturalist and help in identification. But for now, indeed, for the press release, I've r

[2019-05-21 14:17] KarelSchoonvaere opened #269 "vespawatch slogan"
Currently the dutch version of the homepage has the slogan "Help de invasie van Aziatische hoornaar in kaart brengen". There was the suggestion to change this to "Help de Aziatische hoornaar in kaart te brengen".

Similarly the English slogan misses an article before ".. Asian hornet".

Any suggestions/idea's?

[2019-05-21 14:48] peterdesmet commented on #269
Will look into this tomorrow.

[2019-05-21 15:18] peterdesmet commented on #268
No @timadriaens deleting it removes it from iNaturalist as well. So that obs is now gone: https://www.inaturalist.org/observations/25448547 😕

Would be good to sit together to discuss management of all this. This is master data after all.

[2019-05-21 16:40] KarelSchoonvaere commented on #268
To bad, was a nice species ( Cimbex femoratus) to have reported on iNat...

Op di 21 mei 2019 om 17:18 schreef Peter Desmet <notifications@github.com>:

[2019-05-21 20:41] bartaelterman commented on #134
@niconoe I've added a couple of commits. The current state:

- Required fields are required.
- Required fields are indicated as required.
- Form validation fails when a required field is not set.

Note:
- I've split the forms of Individual and Nest. Both now have a default form, and an Unauthenticated version of the form that requires some details about the observer and is rendered when the user i

[2019-05-22 07:22] timadriaens commented on #268
is there no 'trash bin'? Someone ought to draw me a scheme of the flow of data between the site and iNaturalist and what happens when we edit/delete data on either side :-)

[2019-05-22 08:22] bartaelterman commented on #268
Right, that's still on my to-do list :-\

[2019-05-22 08:24] peterdesmet commented on #269
Will change to:

[2019-05-22 08:33] stijnvanhoey opened #270 "requirement of a `robots.txt`?"
Do we need a `robots.txt` file for a reference?

[2019-05-22 08:35] #260 closed

[2019-05-22 09:08] peterdesmet opened #271 "Remove individual-nest relation"
<img width="521" alt="Screenshot 2019-05-22 at 11 07 14" src="https://user-images.githubusercontent.com/600993/58162082-c63ca780-7c81-11e9-8c2e-bd221050198d.png">

There currently seems to be a relation between nest and individual. This was indeed discussed at some point, but it can be dropped.

[2019-05-22 09:09] niconoe commented on #134
Just merged master so we have:

- the first name / last name merge
- the removal of observation_is_beekeeper
- all recent changes in other parts of the application

[2019-05-22 09:19] bartaelterman commented on #264
I'm having a hard time to reproduce this. Let's have a look together..

[2019-05-22 09:39] stijnvanhoey commented on #134
Another side effect that will be solved by  mandatory fields:

[code]
would be good to check this when updating the code...

[2019-05-22 09:53] #269 closed

[2019-05-22 09:59] niconoe opened #272 "Terms of service VS privacy policy"
The "privacy policy" appears in the form, while validation messages refers to "terms of service". In Dutch, its "privacybeleid" vs "terms of service".

@peterdesmet: which label do you prefer?